.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.bi-twitter {
	background:#1DA1F2
}

.bi-discord {
	background:#7289DA
}

.bi-github {
	background:#333
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 25%;
}

.beta {
	color:red;
	vertical-align: super;
	font-size: small;
}