/*
body {
    font-family: Arial, sans-serif;
}
*/
#wikipedia-frame {
    width: 100%;
    height: 100%;
}

.guide {
    margin: auto;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.start {
    margin: auto;
    font-size: 25px;
}

.finish {
    display: none;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.tleft {
    float: left;
    margin: 10px 10px;
    overflow: auto;
    clear: left;
}

.tright {
    float: right;
    margin: 10px 10px;
    overflow: auto;
    clear: right;
}