.progress {
	width:50%;
	margin-top: .2rem;
}

.progress-label {
	float: left;
	margin-right: 1em;
}

.stat {
	font-size:large;
	font-weight: bold;
	margin-top: -.25rem;
}

/* Mobile */
@media (max-width: 768px) {                  
	.hide-if-mobile {
	   display: none;
	}

	.progress {
		width: 100%;
	}

	.progress-label,
	.stat {
		margin-bottom: 0;
		margin-top:1rem;
	}
 }