
#wikipedia-frame {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.guide {
    margin: auto;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.start {
    margin: auto;
    font-size: 25px;
}

.finish {
    display: none;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.tleft {
    float: left;
    margin: 15px 15px;
    overflow: auto;
    clear: left;
}

.tright {
    float: right;
    margin: 15px 15px;
    overflow: auto;
    clear: right;
}

.thumb {
    font-size: 80%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.thumbcaption {
    margin: 5px 5px;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.path {
    font-size: 15px !important;
    text-align: left;
    width: 50%;
    margin: auto;
}

.countdown {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    font-size: 250px;
    font-weight: bold;
    visibility:hidden;
}

.tips {
    font-size: 20px;
}

.startgun {
    width: 200px;
    position: absolute;
    left:60%;
}

.invgif {
    transform: scaleX(-1);
    left:25% !important;
}

.mirroredimgblock {
    position:relative;
    visibility:hidden;
}