/* Button CSS courtesy of https://tympanus.net/Development/CreativeButtons/ */
/* General button style (reset) */
.share-btn {
	border: none;
    border-radius: 5px;
	font-family: inherit;
	font-size:large;
	color: inherit;
	background: #0e83cd;
	cursor: pointer;
	padding: 15px 50px;
	display: inline-block;
	margin: 20px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.share-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.share-btn:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-1 {
	color: #ffffff;
}

.btn-1c::before {
    background: #0e83cd;
}

/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
}

.btn-1c:hover,
.btn-1c:active {
    border:3px solid #0e83cd;
	color: #0e83cd;
    background: #ffffff;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}

/* Tooltip */
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}

#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}

.centered {
	width:auto;
	max-width: 1000px !important;
	z-index: 100000;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color: #F8F8F8;
    margin-bottom: 15px;
    border: 2px solid #000000 !important;
}