.col-xs-6 {
    width: 50%;
    float: right;
}

canvas {
   float: left; 
   margin-left: 2em;
   margin-bottom: 5em;
}

.box-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Large */
.box {
    flex: 1;
}
  
/* Medium screens */
@media all and (max-width: 800px) {
    .box-wrapper {
        justify-content: space-around;
    }
}
  
/* Small screens */
@media all and (max-width: 500px) {
    .box-wrapper {
        flex-direction: column;
    }
}

.box {
	background: #347aeb;
	border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    margin: 40px;
    padding: 10px;
    transition: opacity 0.2s linear, box-shadow 0.2s linear;
    opacity: 0.8;
}

.box::before {
    content: '';
    display: block;
    border-top: solid 3px #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.box.active {
	background: #347aeb;
	border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    margin: 40px;
    padding: 10px;
    opacity: 1;
}

.box.active::before {
    border-top: solid 3px #fff;
    transform: scaleX(0.9);
}

.box:hover, .box:hover * {
    text-decoration: none !important;
}

.box:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    opacity: 1;
}

.box__header {
	padding: 15px 25px;
	position: relative;
}

.box__header-title {
	color: #fff;
	font-size: 18px;
}

.box__body {
	padding: 1em;
}

.daily {
    background: #1b80e5;
}

.weekly {
    background: #135bac;
}

.monthly {
    background: #0a3370;
}

.active-user-group {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: .6em;
}

.active-user-box {
    border-radius: 5px;

    margin-top: 1em;

    padding-left: .5em;
    padding-right: .5em;
    color: white;
}

.stats {
	color: #fff;
	position: relative;
    padding: 1em;
}

.stats__header {
    font-weight: bold;
    font-size: 18px;
}

.stats__amount {
	font-size: 42px;
	font-weight: bold;
	line-height: 1.2;
}

.stats__caption {
	font-size: 18px;

}

.stats--main .stats__amount {
	font-size: 54px;
}

.stats__change {
    font-weight: bold; 
}

.positive {
	color: #7dffa0;
}

.mid {
	color: #ede53b;
}

.updated-time {
    text-align: center;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.05); 
}