stat-box {
    /* border: 5px solid black;
    padding: 50px;
    margin: 20px;
    top: 50px;
    position: relative;
    /* margin: auto; */
    /* margin-top: 50px;
    max-width: 100%;
    height: auto; */
    /* width: auto\9; */
    height: auto;
    width: 100%;
    max-width: 300px;
    border: 0.5vh solid black;
    padding: 5vh;
    top: 5vh;
}

.chart-container {
position: relative;
margin-top: 50px;
top: 100px;
height: 40vh;
width: 40vw;
}

