{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/home.css')}}">
<script defer type="module" src="{{url_for('static', filename='js-build/devblog.js') }}"></script>
{% endblock %}

{% block content %}

<style>
    .indented {
        margin-left: 30px;
    }
    .accordion {
        cursor: pointer;
    }
</style>


<div id="app">

    <section class="blog-description py-2">
        <div>
            <h3>The WikiSpeedruns Devblog</h3>
            <p>
                Welcome to our developer blog! Here, you can learn more about our philosophy with this game, key aspects to new features, who our
                developers are, and much more! <!--Please click on each post to expand it.-->
            </p>
            <p>
                We are currently on <b>Version 0.1</b>. Check out the most recent changelog <a href="#blogPost4">here</a>.
            </p>
        </div>
    </section>

    <div class="w-75 mx-auto"><hr></div>

    <div class="row py-2 justify-content-md-center blogpost" id="blogPost4">
        <div class="col-lg-10 px-0">
            <div class="card">
                <div class="alert alert-success my-0 py-4 px-4 accordion" role="alert">
                    <div class="row">
                        <div class="col">
                            <h5 class="blogHeader">Version 0.1 Changelog</h5>
                            <span class="blogAbstract">Check out the new features we've included in our first official update!</span>
                        </div>
                        <div class="col-sm-auto">
                            07/16/2022
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 py-4" style="display:none">
                    <p class="blogBody">
                        Hey everyone! We're excited to bring you the first changelog for WikiSpeedruns! Thank you all for your support thus far and for just playing the game. The fact that you took the time to visit this corner of the website already means alot to us devs.
                        <br><br>
                        As we continue to improve the game, we wanted to introduce a more formal version system for the game to document any major changes and fixes. So we’re happy to introduce Wikipedia Speedruns <b>Version 0.1</b>!
                        <br><br>
                        Since this is the first changelog, we wanted to provide a quick summary of the main features we have in place:</h4>
                        <br>
                        <h4 class="py-3">Feature Summary</h4>
                        <p>
                        <b>Classic sprint mode + Prompt of the Day</b>
                        <br>The classic Wikipedia speedrunning experience with classic rules. Everyday, we’ll upload a new Prompt of the Day for you to test your skills against. You can also access any past prompts in the archive.
                        </p>
                        <p>
                        <b>Lobbies</b>
                        <br>You can create a private lobby with your own custom prompts to compete against your friends with private leaderboards. They don’t even need an account to join the lobby!
                        </p>
                        <p>
                        <b>Marathon Mode</b>
                        <br>As an alternative to the classic sprint mode, marathon mode tracks the number of clicks that you take rather than the amount of time. This is a great mode if you like to be extra thorough and methodical.
                        </p>
                        <p>
                        <b>Leaderboards</b>
                        <br>After finishing a game, you’ll be able to view your own history on that prompt and the global leaderboards.
                        </p>
                        <p>
                        <b>Streaks</b>
                        <br>Streaks keep track of how many days in a row you complete the daily prompt. In order to add to the streak tally, play the prompt of the day while it is active!
                        </p>
                        <p>
                        <b>Achievements</b>
                        <br>Our new achievement system tracks your runs and rewards you for reaching unique milestones on your wikipedia speedrunning journey. As of now, only completed runs on public prompts will be counted towards achievements.
                        </p>
                        <p>
                        <b>Prompt Generator</b>
                        <br>We have also added a prompt generator so that you can get some help when coming up with prompts (more details on the prompt generator to come in a future blog post).
                        </p>
                        <p>
                        <b>Devblog</b>
                        <br>Lastly, this blog page will be where we post official changelogs and many interesting aspects to our game.
                        </p>
                        <br>
                        <h4>Other Improvements since March 2022</h4>
                        <ul>
                            <li>Removed legacy rating system and rated prompt restrictions</li>
                            <li>Added on-hover end article previews</li>
                            <li>Added tutorial</li>
                            <li>Added a run replay system</li>
                            <li>Added quick access links to each user’s active lobbies on the home page</li>
                            <li>Added celebratory confetti   B)</li>
                            <li>Greatly improved desktop and mobile UIs</li>
                            <li>Improved performance with article loading</li>
                            <li>Reorganized home page layout</li>
                            <li>Lobby invite and passcodes are now hidden by default (more streamer friendly)</li>
                        </ul>
                        <h4>Fixes since March 2022:</h4>
                        <ul>
                            <li>Fixed many rendering and spacing issues with certain Wikipedia elements</li>
                            <li>Fixed many display issues on mobile</li>
                            <li>Added a warning when attempting to add disambiguation page as a prompt, as they are sometimes unreachable</li>
                            <li>Fixed a number of login issues</li>
                            <li>Fixed redirect issues after successful login</li>
                            <li>Tons of other small fixes here and there</li>
                        </ul>
                        <br>
                        As an open source project, we want many aspects of our development work as community driven as possible.
                        Please join our discord community! If you have any suggestions, feedback, or have issues to report, please shoot us an email or a message on discord.
                        <br><br>
                        Happy wiki surfing!
                        <br>
                        <b>Wikipedia Speedruns Team</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto"><hr></div>

    <div class="row py-2 justify-content-md-center blogpost" id="blogPost7">
        <div class="col-lg-10 px-0">
            <div class="card">
                <div class="alert alert-info my-0 py-4 px-4 accordion" role="alert">
                    <div class="row">
                        <div class="col">
                            <h5 class="blogHeader">Strategy</h5>
                            <span class="blogAbstract">So you’ve decided to start playing WikiSpeedruns? But you
                                wonder now--is there really a strategy to the game or does it all come down to knowledge?</span>
                        </div>
                        <div class="col-sm-auto">
                            10/01/2022
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 py-4"  style="display:none">
                    <p class="blogBody">
                        WikiSpeedruns is a fundamentally simple game: navigate from point A to point B within Wikipedia. Yet sometimes
                        it feels so difficult to get to that last article. Sometime it feels like the starting article and end article
                        are so different that there’s no possible path between them. Sometimes it feels like navigating to the ‘United
                        States’ page is overwhelming due to the number of links on that page.
                        <br>
                        <br>
                        Yet sometimes, you can do it; you can navigate from point A to point B in just 4 links, in just 15 seconds. It feels like you got there
                        instinctually. Of course saccades leads to algorithms which leads to artificial intelligence which leads to Frankenstein. It just feels
                        obvious. Yet you check the leaderboard and find that for most people, it was not so obvious. Why does this happen? Why does it
                        sometimes feel so hit or miss?
                        <br>
                        <br>
                        So the question for today’s blog: is there an optimal strategy for WikiSpeedrunning?
                        <br>
                        <br>
                        There are currently 2 general modes of strategy (though that’s up for debate - check out our <a href="https://discord.gg/mNYeB9c9db">Discord</a>!): what we call ‘United States’
                        and ‘Categories’. More specifically, ‘United States’ refers to the idea of navigating to a really popular page with a lot of links in
                        and a lot of links out, such as the United States. While it may take a few clicks to get to such a ‘hub page’, you can generally do so
                        very quickly by geographic origin, historical event, or public figures. Once you reach this hub page, it links out to many pages which
                        also fall under these same categories, making it easy to quickly get from one topic to another that may be very unrelated.
                        <br>
                        <br>
                        The ‘Categories’ strategy is a little bit more intuitive, but also more difficult. If I had to navigate from Winston Churchill to
                        algorithms, it makes categorical sense that: Winston Churchill > World War II > Alan Turing > algorithms. This particular example is
                        pretty straightforward, but the longer the shortest path is or the more you deviate from this path, the more challenging it gets. It
                        also requires you to have decent working knowledge of each page that you are traveling through so that you can take the most efficient
                        route.
                        <br>
                        <br>
                        Personally, I like to utilize ‘United States’ for the traditional gamemode and ‘Categories’ for marathon mode where I have more time to
                        plan out my route. This is also the strategy we suggest in our Tutorial. What do you think about these strategies? Is there a different
                        one that you use? Feel free to discuss in our <a href="https://discord.gg/mNYeB9c9db">Discord</a> or send us a <a href="https://twitter.com/WikiSpeedruns">tweet</a>!

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto"><hr></div>

    <div class="row py-2 justify-content-md-center blogpost" id="blogPost6">
        <div class="col-lg-10 px-0">
            <div class="card">
                <div class="alert alert-info my-0 py-4 px-4 accordion" role="alert">
                    <div class="row">
                        <div class="col">
                            <h5 class="blogHeader">How the Game Started</h5>
                            <span class="blogAbstract">Over a year since it’s conception, WikiSpeedruns has expanded into the website you see today…but how did it all begin?
                                This week’s blog post will detail the story of WikiSpeedruns’ genesis.</span>
                        </div>
                        <div class="col-sm-auto">
                            09/04/2022
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 py-4"  style="display:none">
                    <p class="blogBody">
                        It was a slow, sunny Sunday afternoon. With covid ever-looming, we were scattered across the country: bored, weary, isolated, and frightened by what the
                        world may bring the next day. And yet, it was on this fateful Sunday that we saw a beacon of hope. You see, there was a solution delivered by none other
                        than our very own Miles Liu. A solution which would free us from our boredom, which would rejuvenate us, which would bring us together. This was the inaugural WikiSpeedrun tournament.
                        <br>
                        <br>
                        This tournament was not nearly as polished as the website you see today. We had a tournament bracket set up on discord in which 2 people would go head to head, with double
                        elimination. Miles would share a powerpoint which would show us the starting article, which we would then navigate to on Wikipedia’s actual website. Once we were ready, he
                        would show us a slide with the end article. The other tournament members would watch our shared screens as we navigated to the end article, partly to verify that we did not
                        use the search bar or ctrl+f, but also to spectate like an actual competition. Once completed, we had to shout out that we finished in order to let everyone know.
                        <br>
                        <br>
                        In attendance at this first tournament was Miles, Dan, Melody, and myself. Of course there were other people in attendance, but for us, this game would become something even
                        bigger. You see, there were certain problems we recognized after this initial tournament. There was no way to prevent cheating through the search bar or ctrl+f. It took awhile
                        for the moderator to prepare the prompts ahead of time. We also had no reliable way of tracking time or other statistics. There was no way of gauging the difficulty of a prompt.
                        Such problems did not take away from the joy we experienced that day as we raced to the target article, but they did shroud the light from that Sunday afternoon.
                        <br>
                        <br>
                        These were the reasons that we created WikiSpeedruns. By creating our website, we could track statistics related to plays, we could prevent basic methods of cheating, and we
                        could create a multiplayer experience. Our website is more than just a project for ourselves; it also serves others. A game born of covid, we hope to do what we did in that very
                        first tournament: bring people together and let them get lost in the depths of wikipedia, oblivious to the rest of the world, even if only for a little while.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto"><hr></div>


    <div class="row py-2 justify-content-md-center blogpost" id="blogPost5">
        <div class="col-lg-10 px-0">
            <div class="card">
                <div class="alert alert-info my-0 py-4 px-4 accordion" role="alert">
                    <div class="row">
                        <div class="col">
                            <h5 class="blogHeader">Game Philosophy</h5>
                            <span class="blogAbstract">As we have released some major changes to the beta version of WikiSpeedruns, we wanted to take a moment to discuss our ‘game philosophy’ and provide some insight
                                as to why we may have changed certain features.</span>
                        </div>
                        <div class="col-sm-auto">
                            08/13/2022
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 py-4"  style="display:none">
                    <p class="blogBody">
                        <b>Fostering Competition:</b>
                        <br>
                        Our original intent with WikiSpeedruns was to create a competitive game where you can see how quickly you can solve a prompt compared to other WikiSpeedrunners.
                        This was the purpose of our leaderboards. This competition can also be with yourself, which is the purpose of personal leaderboards so that you can track your own improvement by
                        competing with yourself.
                        <br>
                        <br>
                        However, we recognize that not everyone who enjoys WikiSpeedruns enjoys competing with strangers on a global scale. We also recognize that some people may find leaderboards to be
                        discouraging, especially when there are times that are questionably fast.
                        <br>
                        <br>
                        The natural compromise that we found for the casual and competitive players is to let WikiSpeedruns be a casual game by default. There is no pressure for players to compete to be the
                        fastest; instead, just enjoy the journey as you travel from the start prompt to the end prompt. However, we want to allow those competitive players to thrive as well, so they will be
                        able to opt-in to interact with global leaderboards. If at any time players desire to play casually again, they can disable global leaderboards.
                        <br>
                        <br>
                        <b>Community:</b>
                        <br>
                        We also want to recognize how different players engage with the WikiSpeedruns community. While we love being able to see our over 10,000 different players through global leaderboards
                        and the dozens of players who have joined our Discord, we recognize that this may not be the community that you choose to engage with. Our private lobbies solve this problem, by
                        allowing you to play on a smaller scale among your friends; for some, this level of competition is ideal since this is a community of people that you actually know. We remember
                        our very first WikiSpeedruns tournament before we even built this website, and we want to make it easy for others to embrace that same small-scale competitive environment.
                        <br>
                        <br>
                        Ultimately, our goal is for players to engage with whomever they’d like, whether it be against themself, a small group of friends, or the entire WikiSpeedruns community! We also
                        hope to start hosting our own WikiSpeedruns tournaments to continue to engage with our community.
                        <br>
                        <br>
                        <b>Player Feedback:</b>
                        <br>
                        While we do play the daily prompts ourselves sometimes, it is helpful for us as developers to get feedback from our community. This feedback is actually part of what has informed
                        us while we developed our game philosophy, and spurred us to create some of these major changes. You can continue to give us feedback by contacting our <a href="mailto:support@wikispeedruns.com">support email</a>,
                        or joining our <a href="https://discord.gg/mNYeB9c9db">Discord</a>.
                        <br>
                        <br>
                        <b>The WikiSpeedruns Game Philosophy:</b>
                        <br>
                        We want to develop a game that is enjoyable for both the casual and competitive player, while allowing players the flexibility to choose which part of our community they want to engage with.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto"><hr></div>

    <div class="row py-2 justify-content-md-center blogpost" id="blogPost3">
        <div class="col-lg-10 px-0">
            <div class="card">
                <div class="alert alert-info my-0 py-4 px-4 accordion" role="alert">
                    <div class="row">
                        <div class="col">
                            <h5 class="blogHeader">Developer Interview: Dan</h5>
                            <span class="blogAbstract">Today, we’ll be interviewing Dan, one of our founders and developers.</span>
                        </div>
                        <div class="col-sm-auto">
                            07/04/2022
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 py-4"  style="display:none">
                    <p class="blogBody">[Interviewer]: Why did you decide to start the WikiSpeedruns project?
                        <br>
                        [Dan]: ‘On a whim we had done some wiki races on our own, and we had talked about making a website so it would be more convenient. We were bored one week without
                        much homework and decided to try to make that website, and had a playable version in about a week. This was in March 2021.’
                        <br>
                        <br>
                        [I]: What has been the most rewarding part of the project so far?
                        <br>
                        [D]: ‘Honestly, seeing people enjoy playing the game. Also people using private lobbies (check them out!) when hanging out with a group of friends or at a party.
                        We’ve also gotten great feedback from strangers online both from Twitter and from people that have joined our Discord server.’
                        <br>
                        <br>
                        [I]: How can players interact with the WikiSpeedruns team?
                        <br>
                        [D]: ‘We have a Discord server dedicated to that, but other channels of communication would be cool, such as through Twitter or Reddit. We are also considering
                        hosting tournaments in the future, which would allow players to interact.’
                        <br>
                        <br>
                        [I]: Have you had a particularly meaningful interaction with a player?
                        <br>
                        [D]: ‘Personally, I was messaging these two players on the Discord that were as competitive as possible, trying to get on the leaderboard, trying to figure out
                        the most efficient route, which was really cool to see. The coolest single interaction ever was a person (@BeckePhysics) on twitter talking about how WikiSpeedruns
                        was his new obsession. All of us devs were excited about that one!’
                        <br>
                        <br>
                        [I]: What do you hope players get out of this game?
                        <br>
                        [D]: ‘I just hope that they find some entertainment, especially if they are bored at work or school. More generally: sometimes you get to read about things you’ve
                        never seen; hopefully people read some new pages and learn something!’
                        <br>
                        <br>
                        [I]: Any sneak peaks for future features?
                        <br>
                        [D]: ‘We are most excited about automating a lot of the prompt generation and categorization; this can help people so they don’t have to think about their own
                        prompts for private lobbies. It’s really interesting to think about what makes a ‘good’ prompt, which makes this an interesting problem to automate. For now,
                        we have a wonderful team member who generates them!’
                        <br>
                        <br>
                        [I]: Who are you to the team?
                        <br>
                        [D]: ‘I’m one of the creators, and I also manage the technological side.’
                        <br>
                        <br>
                        [I]: Any final comments?
                        <br>
                        [D]: ‘Our code is open source, contributions are welcome, and any advice related to open-source projects would be helpful since this is our first time working
                        on one. Additionally, if you see a bug feel free to report it on Github or email us!’
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--
    <section class="blogpost" id="blogPost2">
        <h5>Strategy</h5>
        <p class="blogAbstract">So you’ve decided to start playing WikiSpeedruns? But you wonder now--is there really a strategy to the game or does it all come down to knowledge?</p>
        <p class="blogBody">Wikispeedruns is a fundamentally simple game: navigate from point A to point B within Wikipedia. Yet sometimes it feels so difficult to get to that
            last article. Sometime it feels like the starting article and end article are so different that there’s no possible path between them. Sometimes it feels like navigating
            to the ‘United States’ page is overwhelming due to the number of links on that page.
            <br>
            <br>
            Yet sometimes, you can do it; you can navigate from point A to point B in just 4 links, in just 15 seconds. It feels like you got there instinctually. Of course
            saccades leads to algorithms which leads to artificial intelligence which leads to Frankenstein. It just feels obvious. Yet you check the leaderboard and find that
            for most people, it was not so obvious. Why does this happen? Why does it sometimes feel so hit or miss?
            <br>
            <br>
            So the question for today’s blog: is there an optimal strategy for WikiSpeedrunning?
            <br>
            <br>
            There are currently 2 general modes of strategy (though that’s up for debate!): what we call ‘United States’ and ‘Categories’. More specifically, ‘United States’
            refers to the idea of navigating to a really popular page with a lot of links in and a lot of links out, such as the United States. While it may take a few clicks
            to get to such a ‘hub page’, you can generally do so very quickly by geographic origin, historical event, or public figures. Once you reach this hub page, it links
            out to many pages which also fall under these same categories, making it easy to quickly get from one topic to another that may be very unrelated.
            <br>
            <br>
            The ‘Categories’ strategy is a little bit more intuitive, but also more difficult. If I had to navigate from Winston Churchill to algorithms, it makes categorical
            sense that: Winston Churchill > World War II > Alan Turing > algorithms. This particular example is pretty straightforward, but the longer the shortest path is or
            the more you deviate from this path, the more challenging it gets. It also requires you to have decent working knowledge of each page that you are traveling through
            so that you can take the most efficient route.
            <br>
            <br>
            Personally, I like to utilize ‘United States’ for the traditional gamemode and ‘Categories’ for marathon mode where I have more time to plan out my route. What do
            you think about these strategies? Is there a different one that you use? Feel free to discuss in our Discord or send us a tweet!
        </p>
    </section>

    <section class="blogpost" id="blogPost1">
        <h5>How the Game started</h5>
        <p class="blogAbstract">Over a year since it’s conception, WikiSpeedruns has expanded into the website you see today…but how
            did it all begin? This week’s blog post will detail the story of WikiSpeedruns’ genesis.</p>
        <p class="blogBody">It was a slow, sunny Sunday afternoon. With covid ever-looming, we were scattered across the country: bored, weary, isolated, and frightened
            by what the world may bring the next day. And yet, it was on this fateful Sunday that we saw a beacon of hope. You see, there was a solution delivered by none
            other than our very own Miles Liu. A solution which would free us from our boredom, which would rejuvenate us, which would bring us together. This was the
            inaugural WikiSpeedrun tournament.
            <br>
            <br>
            This tournament was not nearly as polished as the website you see today. We had a tournament bracket set up on discord in which 2 people would go head to head, with
            double elimination. Miles would share a powerpoint which would show us the starting article, which we would then navigate to on Wikipedia’s actual website.
            Once we were ready, he would show us a slide with the end article. The other tournament members would watch our shared screens as we navigated to the end
            article, partly to verify that we did not use the search bar or ctrl+f, but also to spectate like an actual competition. Once completed, we had to shout out
            that we finished in order to let everyone know.
            <br>
            <br>
            In attendance at this first tournament was Miles, Dan, Melody, and myself. Of course there were other people in attendance, but for us, this game would become something
            even bigger. You see, there were certain problems we recognized after this initial tournament. There was no way to prevent cheating through the search bar or
            ctrl+f. It took awhile for the moderator to prepare the prompts ahead of time. We also had no reliable way of tracking time or other statistics. There was no
            way of gauging the difficulty of a prompt. Such problems did not take away from the joy we experienced that day as we raced to the target article, but they did
            shroud the light from that Sunday afternoon.
            <br>
            <br>
            These were the reasons that we created WikiSpeedruns. By creating our website, we could track statistics related to plays, we could prevent basic methods of cheating, and
            we could create a multiplayer experience. Our website is more than just a project for ourselves; it also serves others. A game born of covid, we hope to do
            what we did in that very first tournament: bring people together and let them get lost in the depths of wikipedia, oblivious to the rest of the world, even
            if only for a little while.
        </p>
    </section>
    -->

</div>

<script>
    function addButton() {

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display == "block") {
                panel.style.display = "none";
              } else {
                panel.style.display = "block";
              }
        });
        }
    }
    console.log("button")
    addButton();
</script>
{% endblock %}
