{% extends 'base.html' %}

{% block head %}

<script type="module">

const token = serverData["token"];
const id = Number(serverData["id"]);

function validationAlert(msg, isErr=true)
{
    var element = document.getElementById("message");

    element.classList.add("text-danger");

    if (!isErr)
        element.classList.remove("text-danger");

    element.innerText = msg;
}


async function handleReset(event)
{
    event.preventDefault();


    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const body = {user_id: id, token, password};

    if (password != confirmPassword) {
        validationAlert("Passwords do not match!");
        return;
    }

    const response = await fetch("/api/users/reset_password", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
    });

    if (response.status == 200) {
        validationAlert("Password Changed", false);

        window.location.href = "/login";
    } else if (response.status == 400) {
        validationAlert("Could not reset password (expired or invalid link)");
    } else {
        validationAlert("Error in resetting password");
    }
}

window.onload = function() {
    var form = document.getElementById('resetForm');
    form.addEventListener("submit", handleReset);
}

</script>
{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-6" >

    <form id="resetForm">
        <div class="form-floating mb-2">

        <div class="form-floating mb-2">
            <input type="password" id="password" class="form-control" required>
            <label for="password" class="form-label">Password</label>
        </div>

        <div class="form-floating mb-2">
            <input type="password" id="confirmPassword" class="form-control" required>
            <label for="confirmPassword" class="form-label">Confirm Password</label>
        </div>

        <p id="message" class="form-text text-danger"></p>

        <button type="submit" class="btn btn-light">Submit</button>
    </form>
</div>

{% endblock %}
