{% extends 'base.html' %}
<!-- wiki desktop stylesheet -->
<link rel="stylesheet" href="https://en.wikipedia.org/w/load.php?lang=en&modules=site.styles&only=styles" media="screen and (min-width: 768px)">

<!-- wiki mobile stylesheets -->
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/base" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://en.wikipedia.org/api/rest_v1/data/css/mobile/site" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/pcs" media="screen and (max-width: 767px)">

<!-- play.js stylesheet -->
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/play.css')}}">

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

{% block head %}

<script type="module">
import { ArticleRenderer } from "/static/js/modules/game/articleRenderer.js";
import { basicCannon } from "/static/js/modules/confetti.js";

var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        article: "",
        message: "",
        renderer: null,
    },

    methods: {
        async loadArticle() {
            this.renderer.loadPage(this.article);
        },

        pageCallback(article, loadTime) {
            this.message = (`'${article}' took ${loadTime/1000} seconds to load`);
            console.log(this.message);

            basicCannon(0, 0, false, 315)
            basicCannon(1, 0, false, 225) 
        }
    },

    mounted: function() {
        let frame = document.getElementById("testFrame");
        this.renderer = new ArticleRenderer(frame, this.pageCallback);
    }
});
</script>
{% endblock %}

{% block content %}

<div id="app">
    <form v-on:submit.prevent="loadArticle">
        <label for="article"> Article:</label>
        <input type="text" v-model="article" name="article">
        <button type="submit" class="btn btn-light">Submit</button>
    </form>


    <p>[[message]]</p>

    <div id="testFrame"></div>
</div>
{% endblock %}
