{% extends 'base.html' %}
<!-- wiki desktop stylesheet -->
<link rel="stylesheet" href="https://en.wikipedia.org/w/load.php?lang=en&modules=site.styles&only=styles" media="screen and (min-width: 768px)">

<!-- wiki mobile stylesheets -->
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/base" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://en.wikipedia.org/api/rest_v1/data/css/mobile/site" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/pcs" media="screen and (max-width: 767px)">

<!-- play.js stylesheet -->
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/play.css')}}">

{% block head %}

<script type="module" src="{{url_for('static', filename='js-build/admin/articleTester.js') }}"></script>
{% endblock %}

{% block content %}

<div id="app">
    <form v-on:submit.prevent="loadArticle">
        <label for="article"> Article:</label>
        <input type="text" v-model="article" name="article">
        <button type="submit" class="btn btn-light">Submit</button>
    </form>


    <p>[[message]]</p>

    <div id="testFrame"></div>
</div>
{% endblock %}
