{% extends 'base.html' %}

{% block head %}
<script type="module" src="{{url_for('static', filename='js-build/admin/manage.js') }}"></script>
{% endblock %}

{% block content %}
<div id="app">
    <form id="newPrompt" v-on:submit.prevent="newPrompt">
        <label for="start">Start Article:</label>
        <input type="text" id="start" name="start" v-model="startPrompt">
        <label for="end">End Article:</label>
        <input type="text" id="end" name="end" v-model="endPrompt">

        <input type="submit" value="Submit">
    </form>

    <path-checker></path-checker>

    <path-generator></path-generator>



    <div class="row">

        <div class="col-sm-6"> <div class="card mb-5"> <div class="card-body">

            <h4> Unused: </h4>

            <ul>
                <prompt-item
                    v-for="p in unused"
                    v-bind:prompt="p"
                    v-bind:key="p.prompt_id"
                    v-on:change="getPrompts"
                >
                </prompt-item>
            </ul>
        </div></div></div>


    </div>

    <div class="row">
        <div class="col-sm-12">

            <template v-for="(week, index) in weeks">

                <div class="card mb-5"> <div class="card-body">
                <h3>
                    Week: [[week.start.substring(5)]] through [[week.end.substring(5)]]
                    <template v-if="index === 0">(Current) </template>
                </h3>

                <h6>Weekly Prompts:</h6>
                <prompt-set style="width: 50%;"
                    v-bind:prompts="week.prompts"
                    v-bind:start="week.start"
                    v-bind:end="week.end"
                    v-bind:rated="false"
                    v-on:delete-prompt="getPrompts"
                    v-on:move-prompt="getPrompts"
                >
                </prompt-set>

                <h6>Daily Prompts: </h6>
                <table class="table table-bordered" style="table-layout: fixed;">
                    <thead>
                        <th>Su</th>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                        <th>Sa</th>
                    </thead>
                    <tbody style="font-size:x-small">
                        <tr>
                            <td v-for="day in week.days">
                                <prompt-set
                                    v-bind:prompts="day.prompts"
                                    v-bind:start="day.date"
                                    v-bind:end="day.date"
                                    v-bind:rated="true"
                                    v-on:delete-prompt="getPrompts"
                                    v-on:move-prompt="getPrompts"
                                >
                                </prompt-set>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div></div>
            </template>

        </div>
    </div>

    <marathon-section v-bind:marathonprompts="marathon" v-on:reload-prompts="getPrompts"
    ></marathon-section>

</div>

{% endblock %}
