{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script type="module" src="{{url_for('static', filename='js/stats.js') }}"></script>
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/stats.css')}}">
{% endblock %}

{% block content %}

<div id="app">
    <div class="box-wrapper">
        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.users]]</div>
                <div class="stats__caption">users</div>
            </div>
        </div>

        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.runs]]</div>
                <div class="stats__caption">runs</div>
            </div>
        </div>
    
        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.finished_runs]]</div>
                <div class="stats__caption">finished runs</div>
            </div>
        </div>
    </div>
   
    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-users"></canvas>
    </div>

    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-new-users"></canvas>
    </div>

    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-runs"></canvas>
    </div>
    <br/>
    Note: We stopped submitting start times for unfinished runs, so we don't have data for unfinished runs after ~2/17.

    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-finished-runs"></canvas>
    </div>

    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-active-users"></canvas>
    </div>

    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <canvas id="daily-average-user-plays"></canvas>
    </div>
</div>
{% endblock %}
