{% extends 'base.html' %}

{% block head %}
<script type="module" src="{{url_for('static', filename='js-build/admin/stats.js') }}"></script>
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/stats.css')}}">
{% endblock %}

{% block content %}

{% set chart_width = "400" %}
{% set chart_height = "300" %}

<div id="app">
    <div class="updated-time">Last Updated: [[last_updated.toLocaleString()]]     
        <a v-if="!loading" href="#" @click="refresh_stats"><i class="bi bi-arrow-clockwise"></i></a>
        <div v-else>Loading... [[load_time_sec]]</div>
    </div>
        <div class="active-user-group">
            <div class="active-user-box daily grow"
                title="Daily Active Users - # of users who started either a sprint or lobby run">
                DAU [[totals.daily_active_users]] 
            </div>

            <div class="active-user-box weekly grow"
                title="Weekly Active Users - # of users who started either a sprint or lobby run">
                WAU [[totals.weekly_active_users]]
            </div>                

            <div class="active-user-box monthly grow"
                title="Monthly Active Users - # of users who started either a sprint or lobby run">
                MAU [[totals.monthly_active_users]]
            </div>   

            <div></div>

            <div class="active-user-box daily grow"
                title="Finished Runs DAU - # of users who finished either a sprint or lobby run">
                FDAU [[totals.daily_active_users_finished]] 
            </div>

            <div class="active-user-box weekly grow"
                title="Finished Runs WAU - # of users who finished either a sprint or lobby run">
                FWAU [[totals.weekly_active_users_finished]] 
            </div>

            <div class="active-user-box monthly grow"
                title="Finished Runs MAU - # of users who finished either a sprint or lobby run">
                FMAU [[totals.monthly_active_users_finished]] 
            </div>
        </div>
    <div class="box-wrapper" @click.prevent>
        <a class="box" @click="set_active('users')" :class="{active: is_active('users')}">
            <div class="stats">
                <div class="stats__header">Total Users</div>
                <div class="stats__amount">[[totals.users]]</div>
                <div class="stats__change positive">+[[weekly.user_change]] <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.pct_goog_users]]% <span style="font-weight:normal;color: white;">google sign-ups</span></div>
            </div>
        </a>

        <a class="box" @click="set_active('sprints')" :class="{active: is_active('sprints')}">
            <div class="stats">
                <div class="stats__header">Sprint Runs</div>
                <div class="stats__amount">[[totals.runs]]</div>
                <div class="stats__change positive">+[[weekly.runs_change]] <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.pct_user_finished_runs]]% <span style="font-weight:normal;color: white;">registered users</span></div>
                <div class="stats__change mid">[[totals.finished_runs]] <span style="font-weight:normal;color: white;">finished sprints</span></div>
            </div>
        </a>

        <a class="box" @click="set_active('marathons')" :class="{active: is_active('marathons')}">
            <div class="stats">
                <div class="stats__header">Marathons Runs</div>
                <div class="stats__amount">[[totals.marathon_runs]]</div>
                <!-- <div class="stats__change positive">+[[weekly.finished_marathons_change]] <span style="font-weight:normal;color: white;">since last week</span></div> -->
                <div class="stats__change mid">[[totals.pct_user_marathons]]% <span style="font-weight:normal;color: white;">registered users</span></div>
                <div class="stats__change mid">[[totals.finished_marathons]] <span style="font-weight:normal;color: white;">finished marathons</span></div>
            </div>
        </a>

        <a class="box" @click="set_active('lobbies')" :class="{active: is_active('lobbies')}">
            <div class="stats">
                <div class="stats__header">Lobby Runs</div>
                <div class="stats__amount">[[totals.lobby_runs]]</div>
                <div class="stats__change positive">+[[weekly.lobby_runs_change]] <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.created_lobbies]] <span style="font-weight:normal;color: white;">lobbies created</span></div>
                <div class="stats__change mid">[[totals.finished_lobby_runs]] <span style="font-weight:normal;color: white;">finished lobby runs</span></div>
            </div>
        </a>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade" :class="{'active show': is_active('users')}">
            <div class="col-xs-6">
                <canvas id="daily-users" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-new-users" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>
        </div>

        <div class="tab-pane fade" :class="{'active show': is_active('sprints')}">
            <div class="col-xs-6">
                <canvas id="daily-runs" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-new-runs" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-active-users" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-average-user-plays" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>
        </div>

        <div class="tab-pane fade" :class="{'active show': is_active('marathons')}"></div>

        <div class="tab-pane fade" :class="{'active show': is_active('lobbies')}">
            <div class="col-xs-6">
                <canvas id="daily-lobbies" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-new-lobbies" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-lobby-runs" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-new-lobby-runs" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-active-lobby-users" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>

            <div class="col-xs-6">
                <canvas id="daily-average-lobby-user-plays" width="{{chart_width}}" height="{{chart_height}}"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}
