{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script type="module" src="{{url_for('static', filename='js/stats.js') }}"></script>
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/stats.css')}}">
{% endblock %}

{% block content %}

<div id="app">
    <div class="box-wrapper">
        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.users]]</div>
                <div class="stats__caption">users</div>
                <div class="stats__change positive">+[[weekly.user_change]]% <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.pct_goog_users]]% <span style="font-weight:normal;color: white;">google sign-ups</span></div>
            </div>
        </div>

        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.runs]]</div>
                <div class="stats__caption">runs</div>
                <div class="stats__change positive">+[[weekly.runs_change]]% <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.pct_user_runs]]% <span style="font-weight:normal;color: white;">registered users</span></div>
            </div>
        </div>
    
        <div class="box">
            <div class="stats">
                <div class="stats__amount">[[totals.finished_runs]]</div>
                <div class="stats__caption">finished runs</div>
                <div class="stats__change positive">+[[weekly.finished_runs_change]]% <span style="font-weight:normal;color: white;">since last week</span></div>
                <div class="stats__change mid">[[totals.pct_user_finished_runs]]% <span style="font-weight:normal;color: white;">registered users</span></div>
            </div>
        </div>
    </div>
   
    <div class="col-xs-6">
        <canvas id="daily-users" width="400" height="450"></canvas>
    </div>
    
    <div class="col-xs-6">
        <canvas id="daily-new-users" width="400" height="450"></canvas>
    </div>
        
    <canvas id="daily-runs"></canvas>

    <div class="col-xs-6">
        <canvas id="daily-active-users" width="400" height="450"></canvas>
    </div>

    <div class="col-xs-6">
        <canvas id="daily-average-user-plays" width="400" height="450"></canvas>
    </div>

</div>
{% endblock %}
