{% extends 'base.html' %}

{% block head %}

<script type="module" src="{{url_for('static', filename='js-build/lobbys/join.js')}}"></script>

{% endblock %}

{% block content %}
<div id="app" class="col-lg-4 col-md-6" >

    <h3 v-cloak>Joining Lobby #[[lobby_id]]</h3>

    <form id="joinForm" v-on:submit.prevent="handleJoin">

        <div class="mb-3">
            <label for="name" class="form-label">Name: </label>

            <strong v-if="username">[[username]]</strong>
            <input v-else v-model="name" id="name" class="form-control">
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Passcode:</label>
            <input v-model="passcode" id="desc" class="form-control">
        </div>

        <button type="submit" class="btn btn-light">Join</button>

    </form>

    <p id="message">[[message]]</p>

</div>

{% endblock %}
