{% extends 'base.html' %}

{% block head %}
<style>
/* Tooltip */
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}

.prompt-header h3 {
  display: inline;
}

#custom-tooltip {
    display: none;
    margin-left: 10px;
}

.active-dropdown {
    display: block !important;
}
</style>


<script type="module">
import { fetchJson } from "/static/js/modules/fetch.js";
import { serverData } from "/static/js/modules/serverData.js";
import { checkArticles } from "/static/js/modules/wikipediaAPI/util.js";
import { PromptGenerator } from "/static/js/modules/generator.js"
import { AutocompleteInput } from "/static/js/modules/autocomplete.js"

const LOBBY_ID = serverData["lobby_id"];
const successMessage = "Added prompt to lobby!";

var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    components: {
        'prompt-generator': PromptGenerator,
        'ac-input': AutocompleteInput
    },
    data: {
        startPrompt:"",
        endPrompt:"",
        addPromptMessage:"",

        prompts: [],

        link: "",

        lobbyInfo: {
            "name": null,
            "desc": null,
            "user": {
                "name": null,
                "owner": null
            }
        },

        editPrompts: false,
        selectedPrompts: [],

        users: null,
        anon_users: null,

        messageType: null,
        messageTimer: null
    },


    created: async function() {
        this.getPrompts();
        this.getLobbyInfo();
    },

    mounted: function() {
        this.link = window.location.href;
    },

    methods: {

        copyInviteLink() {
            const link = `Join my Wikispeedruns lobby\n${window.location.href}\nPasscode: ${this.lobbyInfo.passcode}`
            document.getElementById("custom-tooltip").style.display = "inline";
            navigator.clipboard.writeText(link);
            setTimeout(function() {
                document.getElementById("custom-tooltip").style.display = "none";
            }, 1500);
        },

        selectPrompt(prompt_id) {
            if (this.selectedPrompts.has(prompt_id)) {
                this.selectedPrompts.delete(prompt_id);
            } else {
                this.selectedPrompts.add(prompt_id);
            }
        },

        selectAllPrompts() {
            this.clearSelectedPrompts();
            for (const prompt of this.prompts) {
                this.selectedPrompts.push(prompt.prompt_id);
            }
        },

        clearSelectedPrompts() {
            this.selectedPrompts = [];
        },

        async getLobbyInfo() {
            const resp = await fetchJson(`/api/lobbys/${LOBBY_ID}`);
            this.lobbyInfo = await resp.json();

            if (this.lobbyInfo.user.owner) {
                await this.getLobbyUsers();
            }
        },

        async getPrompts() {
            const resp = await fetchJson(`/api/lobbys/${LOBBY_ID}/prompts`);
            this.prompts = await resp.json();

        },

        async generateRndPrompt(prompt) {
            [this[prompt]] = await this.$refs.pg.generatePrompt();
        },

        clearMessage() {
            this.messageType = null;
        },

        setMessage(messageType) {
            this.messageType = messageType;
            clearTimeout(this.messageTimer);
            this.messageTimer = setTimeout(this.clearMessage, 5000);
        },

        async considerPrompt() {
            this.addPromptMessage = "";

            const res = await checkArticles(this.startPrompt, this.endPrompt);
            if(res.err) {
                this.addPromptMessage = res.err;
                return;
            }

            const resp = await fetchJson(`/api/lobbys/${LOBBY_ID}/prompts`, "POST", {
                "start": res.body.start,
                "end": res.body.end
            });
            if(resp.status !== 200){
                this.addPromptMessage = "Error adding prompt to database"
                return;
            }

            this.addPromptMessage = successMessage;
        },

        async addPrompt() {
            await this.considerPrompt();

            const messageType = this.addPromptMessage == successMessage ? 'success' : 'danger';
            this.setMessage(messageType);

            this.getPrompts();
        },

        async deletePrompts() {
            if (!confirm("Are you sure you want to delete the selected prompts and their runs?")) {
               return;
            }
            if(this.selectedPrompts.length == 0){
                console.log("No prompts selected");
                return;
            }

            const resp = await fetchJson(`/api/lobbys/${LOBBY_ID}/prompts`, "DELETE", {
                "prompts": this.selectedPrompts,
            });

            this.editPrompts = false;
            this.clearSelectedPrompts();
            this.getPrompts();
        },


        async getLobbyUsers() {

            Promise.all([
                fetchJson(`/api/lobbys/players/${LOBBY_ID}`, "GET"),
                fetchJson(`/api/lobbys/anon_players/${LOBBY_ID}`, "GET")
            ])
            .then(responses =>
                Promise.all(responses.map(res => res.json()))
            ).then(resp => {
                this.users = resp[0];
                this.anon_users = resp[1];
            }).catch(err => console.log(err));

        },

        async makeHost(user_id, username) {
            if (!confirm(`Are you sure you want to make ${username} the lobby host?`)) {
                return;
            }

            try {
                const resp = await fetchJson(`/api/lobbys/change_host/${LOBBY_ID}`, "PATCH", {
                    "target_user_id": user_id,
                });

                alert(`${username} is now host!`);
                window.location.reload();
            } catch (e) {
                console.log(e)
                alert(e);
            }
        },

        toggleDropdown(id) {
            document.getElementById(id).classList.toggle("active-dropdown")
        }
    }


})

</script>
{% endblock %}

{% block content %}
<div id="app" v-cloak>
    <h2 v-if="lobbyInfo.name">[[lobbyInfo.name]]</h2>
    <h2 v-else>Lobby [[lobbyInfo.lobby_id]]: </h2>

    <p>[[lobbyInfo.desc]]</p>

    <details>
        <summary>Click Here to Show Lobby Link/Passcode: </summary>
        <p> Link: [[link]]    </p>
        <p> Passcode: [[lobbyInfo.passcode]]    </p>
    </details>

    <div class="button-tooltip-container">
        <button @click="copyInviteLink" class="btn btn-light">Copy Invite</button>
        <span id="custom-tooltip" ref="shareTooltip">Copied invite to clipboard!</span>
    </div>



    <template v-if="lobbyInfo.user.owner">

        <hr>

        <h3>Lobby settings</h3>

        <details>
            <summary>List of players</summary>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Display name</th>
                            <th scope="col">User type</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" v-cloak>
                                <td>[[user.username]]</td>
                                <td>Registered User</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle"
                                                type="button"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="true"
                                                @click="toggleDropdown(String(user.user_id)+'dropdown')">
                                            <small>Options</small>
                                        </button>
                                        <div class="dropdown-menu"
                                            v-bind:id="String(user.user_id)+'dropdown'">
                                            <button v-if="!user.owner" class="btn btn-sm" @click="makeHost(user.user_id, user.username)">Transfer Ownership</button>
                                            <button class="btn btn-sm disabled" v-else>Currently host</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr v-for="user in anon_users" v-cloak>
                                <td>[[user.name]]</td>
                                <td>Anonymous User</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </details>

        <hr>

        <h3>Add a Prompt:</h3>

        <form id="newPrompt" v-on:submit.prevent="addPrompt">
            <div class="my-2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="input-group">
                        <ac-input :text.sync="startPrompt" placeholder="Start Article"></ac-input>
                        <button type="button" class="btn border" style="background-color: #e9ecef;" @click="generateRndPrompt('startPrompt')">
                            <i class="bi bi-shuffle"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mb-2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="input-group">
                        <ac-input :text.sync="endPrompt" placeholder="End Article"></ac-input>
                        <button type="button" class="btn border" style="background-color: #e9ecef;" @click="generateRndPrompt('endPrompt')">
                            <i class="bi bi-shuffle"></i>
                        </button>
                    </div>
                </div>
            </div>

            <p v-if="messageType != null" :class="`text-${messageType}`">[[addPromptMessage]]</p>
            <input class="btn btn-primary" type="submit" value="Submit">

            <details class="mt-3">
                <summary>Random Article Generator Settings</summary>
                <prompt-generator ref="pg" class="col-md-4 col-sm-6"></prompt-generator>
            </details>
        </form>

        <hr>

    </template>


    <div class="prompt-header">
        <h3> Prompts </h3>
        <template v-if="lobbyInfo.user.owner">
            <a style="cursor:pointer" v-on:click="editPrompts = !editPrompts">(Edit)</a>
        </template>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <th style="width:100px" scope="col">Prompt #</th>
                    <th scope="col">Start Article</th>
                    <th scope="col">End Article</th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                    <tr v-for="prompt in prompts" v-cloak>
                        <td>[[prompt.prompt_id]]
                            (<a v-bind:href="'/lobby/' + lobbyInfo.lobby_id + '/play/' + prompt.prompt_id">play</a>)
                        </td>

                        <td>[[prompt.start]]</td>
                        <td>[[prompt.end]]</td>

                        <td><a v-bind:href="'/lobby/' + lobbyInfo.lobby_id + '/leaderboard/' + prompt.prompt_id">Results</a></td>
                        <td v-if="editPrompts">
                            <input type="checkbox" :value="prompt.prompt_id" v-model="selectedPrompts">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="editPrompts">
                <input href="javascript:;" @click="selectAllPrompts" class="btn btn-primary" value="Select All">
                <input href="javascript:;" @click="clearSelectedPrompts" class="btn btn-primary" value="Deselect All">
                <input href="javascript:;" @click="deletePrompts" class="btn btn-danger" value="Delete Selected">
            </div>
        </div>
    </div>

    <br> <br>

</div>
{% endblock %}
