{% extends 'base.html' %}

{% block head %}
<style>
/* Tooltip */
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}

.prompt-header h3 {
  display: inline;
}

#custom-tooltip {
    display: none;
    margin-left: 10px;
}

.active-dropdown {
    display: block !important;
}
</style>

<script type="module" src="{{url_for('static', filename='js-build/lobbys/lobby.js')}}"></script>


{% endblock %}

{% block content %}
<div id="app" v-cloak>
    <h2 v-if="lobbyInfo.name">[[lobbyInfo.name]]</h2>
    <h2 v-else>Lobby [[lobbyInfo.lobby_id]]: </h2>

    <p>[[lobbyInfo.desc]]</p>

    <details>
        <summary>Click Here to Show Lobby Link/Passcode: </summary>
        <p> Link: [[link]]    </p>
        <p> Passcode: [[lobbyInfo.passcode]]    </p>
    </details>

    <div class="button-tooltip-container">
        <button @click="copyInviteLink" class="btn btn-light">Copy Invite</button>
        <span id="custom-tooltip" ref="shareTooltip">Copied invite to clipboard!</span>
    </div>



    <template v-if="lobbyInfo.user.owner">

        <hr>

        <h3>Lobby settings</h3>

        <details>
            <summary>List of players</summary>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Display name</th>
                            <th scope="col">User type</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" v-cloak>
                                <td><user :username="user.username" /></td>
                                <td>Registered User</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle"
                                                type="button"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="true"
                                                @click="toggleDropdown(String(user.user_id)+'dropdown')">
                                            <small>Options</small>
                                        </button>
                                        <div class="dropdown-menu"
                                            v-bind:id="String(user.user_id)+'dropdown'">
                                            <button v-if="!user.owner" class="btn btn-sm" @click="makeHost(user.user_id, user.username)">Transfer Ownership</button>
                                            <button class="btn btn-sm disabled" v-else>Currently host</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr v-for="user in anon_users" v-cloak>
                                <td>[[user.name]]</td>
                                <td>Anonymous User</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </details>

        <hr>

        <h3>Add a Prompt:</h3>

        <form id="newPrompt" v-on:submit.prevent="addPrompt">
            <div class="my-2 row">
                <div class="col-md-6 col-sm-8">
                    <select class="form-select" v-model="language">
                        <option selected value="en"> English (en) </option>
                        <option v-for="lang in languages" v-bind:value="lang.code">[[lang.name]] ([[lang.code]])</option>
                    </select>
                </div>
            </div>

            <div class="my-2 row">
                <div class="col-md-6 col-sm-8">
                    <div class="input-group">
                        <ac-input :text.sync="startPrompt" :lang="language" placeholder="Start Article"></ac-input>
                        <button type="button" class="btn border" style="background-color: #e9ecef;" @click="generateRndPrompt('startPrompt')">
                            <i class="bi bi-shuffle"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="my-2 row">
                <div class="col-md-6 col-sm-8">
                    <div class="input-group">
                        <ac-input :text.sync="endPrompt" :lang="language" placeholder="End Article"></ac-input>
                        <button type="button" class="btn border" style="background-color: #e9ecef;" @click="generateRndPrompt('endPrompt')">
                            <i class="bi bi-shuffle"></i>
                        </button>
                    </div>
                </div>
            </div>

            <p v-if="messageType != null" :class="`text-${messageType}`">[[addPromptMessage]]</p>
            <input class="btn btn-primary" type="submit" value="Submit">

            <details class="mt-3" v-show="language === 'en'">
                <summary>Random Article Generator Settings</summary>
                <prompt-generator ref="pg" class="col-md-4 col-sm-6"></prompt-generator>
            </details>
        </form>

        <hr>

    </template>


    <div class="prompt-header">
        <h3> Prompts </h3>
        <template v-if="lobbyInfo.user.owner">
            <a style="cursor:pointer" v-on:click="editPrompts = !editPrompts">(Edit)</a>
        </template>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <th style="width:100px" scope="col">Prompt #</th>
                    <th scope="col">Language</th>
                    <th scope="col">Start Article</th>
                    <th scope="col">End Article</th>
                    <th class="text-center"></th>
                </thead>
                <tbody>
                    <tr v-for="prompt in prompts" v-cloak>
                        <td>[[prompt.prompt_id]]
                            (<a v-bind:href="'/lobby/' + lobbyInfo.lobby_id + '/play/' + prompt.prompt_id">play</a>)
                        </td>
                        <td>[[prompt.language]]</td>

                        <td>[[prompt.start]]</td>
                        <td v-bind:title="prompt.end === null ? 'Hidden due to competitive mode' : ''" >[[prompt.end || "-"]]</td>

                        <td>
                            <a
                                v-if="prompt.end !== null"
                                v-bind:href="'/lobby/' + lobbyInfo.lobby_id + '/leaderboard/' + prompt.prompt_id"
                            >
                                Results
                            </a>
                            <span v-else class="text-muted" title="Play to see the results!">
                                Results
                            </span>


                        </td>
                        <td v-if="editPrompts">
                            <input type="checkbox" :value="prompt.prompt_id" v-model="selectedPrompts">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="editPrompts">
                <input href="javascript:;" @click="selectAllPrompts" class="btn btn-primary" value="Select All">
                <input href="javascript:;" @click="clearSelectedPrompts" class="btn btn-primary" value="Deselect All">
                <input href="javascript:;" @click="deletePrompts" class="btn btn-danger" value="Delete Selected">
            </div>
        </div>
    </div>

    <br> <br>

</div>
{% endblock %}
