{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div id="app">
    <section class="my-3">
        <a id="beta"></a> <h4>Beta</h4>

        <p>
            We are actively developing Wikipedia Speedruns preparing for an official release! This means that things might be broken, have bugs, or have stability issues.
            Your understanding and feedback during this time are really appreciated!
        </p>
    </section>

    <section class="my-3">
        <a id="ratings"></a> <h4>Ratings</h4>

        <p>
            In order to foster the spirit of competition, we are introducting <strong>rated prompts!</strong>.
        </p>

        <p>
            Our rating system is based off the <a href="https://codeforces.com/">Codeforces</a> rating system. For each
            rated daily prompt, you rating will change based on your place in the rankings. Only the first attempt 
            within the time range of the prompt (midnight to midnight UTC) will be used for the rankings. 
            However, you are always free to practice on old daily prompts in the archive. <!-- TODO link to archive -->
        </p>
    </section>

    <section class="my-3">
        <a id="acknowledgements"></a> <h4>Special Thanks</h4>

        <p>
            Special thanks to those who have helped and supported the development process of this game's many components, in alphabetical order:
        </p>

        <ul>
            <li>Jason Wong</li>
            <li>Maya Flannery</li>
            <li>Nathan Vallapureddy</li>
            <li>Ryan Tang</li>
            <li>Stewy Slocum</li>
        </ul>
    </section>

</div>
{% endblock %}
