{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div id="app">
    <section class="my-3">
        <h4 id="beta">Beta</h4>

        <p>
            We are actively developing Wikipedia Speedruns preparing for an official release! This means that things might be broken, have bugs, or have stability issues.
            Your understanding and feedback during this time are really appreciated!
        </p>
    </section>

    <section class="my-3">
        <h4 id="acknowledgements">Special Thanks</h4>

        <p>
            Special thanks to those who have helped and supported the development process of this game's many components, in alphabetical order:
        </p>

        <ul>
            <li>Jason Wong</li>
            <li>Maya Flannery</li>
            <li>Nathan Vallapureddy</li>
            <li>Ryan Tang</li>
            <li>Stewy Slocum</li>
        </ul>
    </section>

    <hr>

    <section class="my-3">
        <p>
            Created by <a href="https://danqian.net">Daniel Qian</a>,
            <a href="https://mliu59.github.io/">Miles Liu</a>,
            <a href="https://bricehalder.com/">Brice Halder</a>,
            <a href="https://xablexa.com/">Axel Bax</a>,
            <a href="https://www.omfgdogs.com/#">Manan Aggarwal</a>,
            and <a href="https://en.wikipedia.org/wiki/Melody">Melody</a>
            <a href="https://en.wikipedia.org/wiki/Xu_(surname_%E5%BE%90)"> Hsu</a>.
        </p>
    </section>

</div>
{% endblock %}
