{% extends 'base.html' %}

{% block head %}
<script defer type='module' src="{{url_for('static', filename='js-build/archive.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endblock %}

{% block content %}

<div id="app">

    <h3>Archive</h3>
    <div class="row justify-content-md-center">

    <p>Current prompts do not have the end article displayed </p>

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <th scope="col"><a v-on:click="toggleSort('time')">Release Date </a></th>
                            <th scope="col"><a v-on:click="toggleSort('prompt')">Prompt # </a></th>
                            <th scope="col">Starting Article</th>
                            <th scope="col">Ending Article</th>
                            <th class="text-center" scope="col">Played</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr v-for="prompt in prompts" v-cloak>
                                <td>[[prompt.active_start.substring(0, 10)]]</td>
                                <td>[[prompt.prompt_id]] </td>
                                <td>[[prompt.start]]</td>
                                <td>[[prompt.end || '-']]</td>
                                <td class="text-center"><span v-if="prompt.played"><i class="bi bi-check-lg"></i></span></td>
                                <td><a v-bind:href="'/play/' + prompt.prompt_id">Play</a></td>
                                <td><a v-bind:href="'/leaderboard/' + prompt.prompt_id">Results</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div v-cloak class="card-footer text-center">
                <a class="btn btn-outline-secondary" role="button"
                    v-bind:href="'?limit=' + (limit) + '&offset=0'"
                    v-bind:class="{invisible: page === 1}">

                    <i class="bi bi-chevron-double-left"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-bind:href="'?limit=' + limit + '&offset=' + (offset - limit)"
                    v-bind:class="{invisible: page === 1}">

                    <i class="bi bi-chevron-left" id="prev-page"></i>
                </a>

                <span>Page <strong>[[page]]</strong> of [[numPages]] </span>

                <a class="btn btn-outline-secondary" role="button"
                    v-bind:href="'?limit=' + limit + '&offset=' + (offset + limit)"
                    v-bind:class="{invisible: page === numPages}">

                    <i class="bi bi-chevron-right"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-bind:href="'?limit=' + (limit) + '&offset=' + ((numPages - 1) * limit)"
                    v-bind:class="{invisible: page === numPages}">

                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
