{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/home.css')}}">
{% endblock %}

{% block content %}

<div id="app">
    <section class="blog-description">
        <h3>The WikiSpeedrun Blog</h3>
        <p>
            Welcome to our blog! Here, you can learn more about our philosophy with this game, key aspects to new features, who our
            developers are, and much more! Please click on each post to expand it.
        </p>
    </section>

    <section class="blogpost" id="blogPost3">
        <h5>Developer Interview: Dan</h5>
        <p class="blogAbstract">Today, we’ll be interviewing Dan, one of our founders and developers.</p>
        <p class="blogBody">[Interviewer]: Why did you decide to start the wikispeedruns project?
            <br>
            [Dan]: ‘On a whim we had done some wiki races on our own, and we had talked about making a website so it would be more convenient. We were bored one week without 
            much homework and decided to try to make that website, and had a playable version in about a week. This was in March 2021.’
            <br>
            <br>
            [I]: What has been the most rewarding part of the project so far?
            <br>
            [D]: ‘Honestly, seeing people enjoy playing the game. Also people using private lobbies (check them out!) when hanging out with a group of friends or at a party. 
            We’ve also gotten great feedback from strangers online both from Twitter and from people that have joined our Discord server.’
            <br>
            <br>
            [I]: How can players interact with the WikiSpeedruns team?
            <br>
            [D]: ‘We have a Discord server dedicated to that, but other channels of communication would be cool, such as through Twitter or Reddit. We are also considering 
            hosting tournaments in the future, which would allow players to interact.’
            <br>
            <br>
            [I]: Have you had a particularly meaningful interaction with a player?
            <br>
            [D]: ‘Personally, I was messaging these two players on the Discord that were as competitive as possible, trying to get on the leaderboard, trying to figure out 
            the most efficient route, which was really cool to see. The coolest single interaction ever was a person (@BeckePhysics) on twitter talking about how WikiSpeedruns 
            was his new obsession. All of us devs were excited about that one!’
            <br>
            <br>
            [I]: What do you hope players get out of this game?
            <br>
            [D]: ‘I just hope that they find some entertainment, especially if they are bored at work or school. More generally: sometimes you get to read about things you’ve 
            never seen; hopefully people read some new pages and learn something!’
            <br>
            <br>
            [I]: Any sneak peaks for future features?
            <br>
            [D]: ‘We are most excited about automating a lot of the prompt generation and categorization; this can help people so they don’t have to think about their own 
            prompts for private lobbies. It’s really interesting to think about what makes a ‘good’ prompt, which makes this an interesting problem to automate. For now, 
            we have a wonderful team member who generates them!’
            <br>
            <br>
            [I]: Who are you to the team?
            <br>
            [D]: ‘I’m one of the creators, and I also manage the technological side.’
            <br>
            <br>
            [I]: Any final comments?
            <br>
            [D]: ‘Our code is open source, contributions are welcome, and any advice related to open-source projects would be helpful since this is our first time working 
            on one. Additionally, if you see a bug feel free to report it on Github or email us!’
        </p>
    </section>
    
    <section class="blogpost" id="blogPost2">
        <h5>Strategy</h5>
        <p class="blogAbstract">So you’ve decided to start playing WikiSpeedruns? But you wonder now--is there really a strategy to the game or does it all come down to knowledge?</p>
        <p class="blogBody">Wikispeedruns is a fundamentally simple game: navigate from point A to point B within Wikipedia. Yet sometimes it feels so difficult to get to that
            last article. Sometime it feels like the starting article and end article are so different that there’s no possible path between them. Sometimes it feels like navigating
            to the ‘United States’ page is overwhelming due to the number of links on that page.
            <br>
            <br>
            Yet sometimes, you can do it; you can navigate from point A to point B in just 4 links, in just 15 seconds. It feels like you got there instinctually. Of course
            saccades leads to algorithms which leads to artificial intelligence which leads to Frankenstein. It just feels obvious. Yet you check the leaderboard and find that
            for most people, it was not so obvious. Why does this happen? Why does it sometimes feel so hit or miss?
            <br>
            <br>
            So the question for today’s blog: is there an optimal strategy for WikiSpeedrunning?
            <br>
            <br>
            There are currently 2 general modes of strategy (though that’s up for debate!): what we call ‘United States’ and ‘Categories’. More specifically, ‘United States’
            refers to the idea of navigating to a really popular page with a lot of links in and a lot of links out, such as the United States. While it may take a few clicks
            to get to such a ‘hub page’, you can generally do so very quickly by geographic origin, historical event, or public figures. Once you reach this hub page, it links
            out to many pages which also fall under these same categories, making it easy to quickly get from one topic to another that may be very unrelated.
            <br>
            <br>
            The ‘Categories’ strategy is a little bit more intuitive, but also more difficult. If I had to navigate from Winston Churchill to algorithms, it makes categorical
            sense that: Winston Churchill > World War II > Alan Turing > algorithms. This particular example is pretty straightforward, but the longer the shortest path is or
            the more you deviate from this path, the more challenging it gets. It also requires you to have decent working knowledge of each page that you are traveling through
            so that you can take the most efficient route.
            <br>
            <br>
            Personally, I like to utilize ‘United States’ for the traditional gamemode and ‘Categories’ for marathon mode where I have more time to plan out my route. What do
            you think about these strategies? Is there a different one that you use? Feel free to discuss in our Discord or send us a tweet!
        </p>
    </section>

    <section class="blogpost" id="blogPost1">
        <h5>How the Game started</h5>
        <p class="blogAbstract">Over a year since it’s conception, WikiSpeedruns has expanded into the website you see today…but how
            did it all begin? This week’s blog post will detail the story of WikiSpeedruns’ genesis.</p>
        <p class="blogBody">It was a slow, sunny Sunday afternoon. With covid ever-looming, we were scattered across the country: bored, weary, isolated, and frightened
            by what the world may bring the next day. And yet, it was on this fateful Sunday that we saw a beacon of hope. You see, there was a solution delivered by none
            other than our very own Miles Liu. A solution which would free us from our boredom, which would rejuvenate us, which would bring us together. This was the
            inaugural WikiSpeedrun tournament.
            <br>
            <br>
            This tournament was not nearly as polished as the website you see today. We had a tournament bracket set up on discord in which 2 people would go head to head, with
            double elimination. Miles would share a powerpoint which would show us the starting article, which we would then navigate to on Wikipedia’s actual website.
            Once we were ready, he would show us a slide with the end article. The other tournament members would watch our shared screens as we navigated to the end
            article, partly to verify that we did not use the search bar or ctrl+f, but also to spectate like an actual competition. Once completed, we had to shout out
            that we finished in order to let everyone know.
            <br>
            <br>
            In attendance at this first tournament was Miles, Dan, Melody, and myself. Of course there were other people in attendance, but for us, this game would become something
            even bigger. You see, there were certain problems we recognized after this initial tournament. There was no way to prevent cheating through the search bar or
            ctrl+f. It took awhile for the moderator to prepare the prompts ahead of time. We also had no reliable way of tracking time or other statistics. There was no
            way of gauging the difficulty of a prompt. Such problems did not take away from the joy we experienced that day as we raced to the target article, but they did
            shroud the light from that Sunday afternoon.
            <br>
            <br>
            These were the reasons that we created WikiSpeedruns. By creating our website, we could track statistics related to plays, we could prevent basic methods of cheating, and
            we could create a multiplayer experience. Our website is more than just a project for ourselves; it also serves others. A game born of covid, we hope to do
            what we did in that very first tournament: bring people together and let them get lost in the depths of wikipedia, oblivious to the rest of the world, even
            if only for a little while.
        </p>
    </section>

</div>
{% endblock %}
