{% extends 'base.html' %}

{% block head %}
<script type="module" src="{{url_for('static', filename='js-build/community_prompt.js') }}"></script>
{% endblock %}

{% block content %}

<div id="app">
    <div class="card">
        <div class="card-body">
            <sprint-builder v-bind:admin="false"></sprint-builder>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <marathon-builder v-bind:admin="false"></marathon-builder>
        </div>
    </div>
    
</div>


{% endblock %}
