{% extends 'base.html' %}

{% block head %}
<script type="module" src="{{url_for('static', filename='js-build/community_prompt.js') }}"></script>
{% endblock %}

{% block content %}

<div id="app">

    <form id="newPrompt" v-on:submit.prevent="newPrompt">
        <label for="start">Start Article:</label>
        <input type="text" id="start" name="start" v-model="startPrompt">
        <label for="end">End Article:</label>
        <input type="text" id="end" name="end" v-model="endPrompt">

        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}
