{% extends 'base.html' %} {% block head %}
<script
  type="module"
  src="{{url_for('static', filename='js-build/community_prompt.js') }}"
></script>
{% endblock %} {% block content %}

<div id="app">
  <h1 class="mb-4" v-cloak>Community Prompt Builder</h1>
  <p class="mb-4">
    Create a fun prompt for the entire Wikipedia Speedruns community to enjoy!
    Prompts submitted will be subject to admin approval. Once approved, Sprints
    and Marathons will be featured in the public prompt pool.
  </p>
  <p class="mb-4">
    You may also submit a prompt anonymously. Doing so will hide your username for players that play your prompt. 
  </p>
  <hr class="mt-4" />

  <div class="row justify-content-md-center py-4">
    <div class="col-sm-3">
      <div class="card">
        <div class="alert alert-info my-0" role="alert">
          <h5 class="my-0">Prompt Builder</h5>
        </div>
        <div class="card-body">
          <div class="list-group">
            <button
              type="button"
              class="list-group-item list-group-item-action"
              v-on:click="tab='sprint'"
            >
              Sprint Builder
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              v-on:click="tab='marathon'"
            >
              Marathon Builder
            </button>
          </div>
        </div>
      </div>

      <div class="card my-4">
        <div class="alert alert-info my-0" role="alert">
          <h5 class="my-0">Submitted Status</h5>
        </div>
        <div class="card-body">
          <div class="list-group">
            <button
              type="button"
              class="list-group-item list-group-item-action"
              v-on:click="tab='sprint-status'"
            >
              Submitted Sprints
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              v-on:click="tab='marathon-status'"
            >
              Submitted Marathons
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div v-if="tab=='sprint'" class="card" v-cloak>
        <div class="card-body">
          <sprint-builder v-bind:admin="false"></sprint-builder>
        </div>
      </div>

      <div v-if="tab=='marathon'" class="card" v-cloak>
        <div class="card-body">
          <marathon-builder v-bind:admin="false"></marathon-builder>
        </div>
      </div>

      <div v-if="tab=='sprint-status'" class="card" v-cloak>
        <div class="card-body">
          <submitted-sprints></submitted-sprints>
        </div>
      </div>

      <div v-if="tab=='marathon-status'" class="card" v-cloak>
        <div class="card-body">
          <submitted-marathons></submitted-marathons>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
