{% extends 'base.html' %}

{% block head %}
<script defer type="module" src="{{url_for('static', filename='js-build/generator.js') }}"></script>
{% endblock %}


{% block content %}

<div id ="app">
    <h3>Prompt Generator</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">[[article]]</h5>
                    <prompt-generator ref="pg"></prompt-generator>
                    <button type="button" class="btn border" style="background-color: #e9ecef;" @click="generateRndPrompt">
                        Generate Random Wikipedia Article <i class="bi bi-shuffle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h5><a id="about">About</a></h5>
    <p>
        This prompt generator chooses a start and end article based on a <a href="https://en.wikipedia.org/wiki/PageRank">PageRank</a> of Wikipedia articles.
        For more information, see our <a href="https://github.com/wikispeedruns/wikipedia-speedruns">github</a>.
    </p>

    <p>
        This is still a work in progress.
    </p>
</div>



{% endblock %}
