{% extends 'base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script src="{{url_for('static', filename='js/springy-master/springy.js') }}"></script>
<script src="{{url_for('static', filename='js/springy-master/springyui.js') }}"></script>

<script defer type="module" src="{{url_for('static', filename='js/leaderboard.js') }}"></script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="col-xl-12">
        <p>
            <small v-cloak>
                <a v-if="lobbyId" v-bind:href="'/lobby/' + lobbyId"> Back to Lobby</a>
                <a v-else href="/"> Back to Home</a>
            </small>
        </p>

        <div class="card">
            <div class="card-body">


                <h4>Prompt [[prompt.prompt_id || ""]]</h4>



                <div class="my-4">
                    <h5>Leaderboard Options</h5>

                    <p>
                    Presets
                    </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="personal" value="personal" v-model="preset" />
                        <label class="form-check-label" for="personal">Personal (default) </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="ffa" value="ffa" v-model="preset" />
                        <label class="form-check-label" for="ffa">Fastest First Attempt </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="shortest" value="shortest" v-model="preset" />
                        <label class="form-check-label" for="shortest">Shortest Path</label>
                    </div>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input" disabled type="radio" id="custom" value="custom" v-model="preset" />
                        <label class="form-check-label" for="custom"> Custom (Coming soon) </label>
                    </div>

                    <!--Description of leaderboard -->


                </div>




                <p>
                    <h6 v-if="available">
                        <strong>[[prompt.start]]</strong> to <strong v-if="runs.length > 0">[[prompt.end]]</strong><strong v-else>...</strong>
                    </h6>
                </p>
                <p>[[numRuns]] total runs</p>




                <div class="table-responsive">
                    <table v-if="runs.length > 0" class="table table-hover">
                        <thead>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th class="l-col" scope="col">Time</th>
                            <th class="l-col" scope="col">Links</th>
                            <th scope="col">Path</th>
                        </thead>
                        <tbody>
                            <!-- See this https://v2.vuejs.org/v2/guide/components.html?redirect=true#DOM-Template-Parsing-Caveats -->
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === -1"
                                v-bind:run="currentRun"
                                v-bind:current-run-id="runId"
                                v-bind:page-to-link="Math.floor((currentRun.rank - 1)/ limit)"
                                v-on:go-to-page="goToPage"
                            ></tr>

                            <tr v-if="currentRunPosition === -1"><td colspan="5">...</td></tr>

                            <tr is="leaderboard-row"
                                v-for="run in runs"
                                v-bind:key="run.run_id"
                                v-bind:run="run"
                                v-bind:current-run-id="runId"
                            ></tr>

                            <tr v-if="currentRunPosition === 1"><td colspan="5">...</td></tr>
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === 1"
                                v-bind:run="currentRun"
                                v-bind:current-run-id="runId"
                                v-bind:page-to-link="Math.floor((currentRun.rank - 1)/ limit)"
                                v-on:go-to-page="goToPage"
                            ></tr>
                        </tbody>
                    </table>

                    <p class="my-4" v-else>
                        This prompt currently doesn't have any runs.
                        <span v-if="available">Be the first to play it!
                            <a v-bind:href="
                                lobbyId === null
                                    ? `/play/${promptId}`
                                    : `/lobby/${lobbyId}/play/${promptId}`
                            ">Play</a>
                        </span>
                    </p>
                </div>
            </div>

            <div v-cloak class="card-footer text-center">
                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(0)"
                    v-bind:class="{invisible: page === 0}">

                    <i class="bi bi-chevron-double-left"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(page - 1)"
                    v-bind:class="{invisible: page === 0}">

                    <i class="bi bi-chevron-left" id="prev-page"></i>
                </a>

                <span class="mx-2">Page <strong>[[page + 1]]</strong> of [[numPages]] </span>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(page + 1)"
                    v-bind:class="{invisible: page === numPages - 1}">

                    <i class="bi bi-chevron-right"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(numPages - 1)"
                    v-bind:class="{invisible: page === numPages - 1}">

                    <i class="bi bi-chevron-double-right"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<canvas id="springydemo" class="mx-auto d-block mt-5" style="font-size: 10px;" width="1200" height="900">
{% endblock %}
