{% extends 'base.html' %}

{% block head %}

<!-- TODO couldn't figure out how to import this properly lol -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/springy-master/springy.js') }}"></script>
<script src="{{url_for('static', filename='js/springy-master/springyui.js') }}"></script>

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/leaderboard.css')}}">

<script defer type="module" src="{{url_for('static', filename='js-build/leaderboard.js') }}"></script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="col-xl-12">
        <p>
            <small v-cloak>
                <a v-if="lobbyId" v-bind:href="'/lobby/' + lobbyId"> Back to Lobby</a>
                <a v-else href="/"> Back to Home</a>
            </small>
        </p>

        <div class="alert alert-info" role="alert">
                Notice the change? Let us know what you think on the  <a href="https://discord.gg/mNYeB9c9db" target="_blank">discord</a>
                or by emailing us at <a href="mailto:support@wikispeedruns.com">support@wikispeedruns.com</a>.

        </div>

        <div class="card">
            <div class="row">
                <div class="col-8" style="padding-right:0">
                    <div class="card-header pt-3" style="height: 8rem;">

                        <h4>Prompt [[prompt.prompt_id || ""]]</h4>

                        <h6 v-if="available">
                            <strong>[[prompt.start]]</strong> to <strong v-if="runs.length > 0">[[prompt.end]]</strong><strong v-else>...</strong>
                        </h6>


                        <p>[[numRuns]] total runs</p>
                    </div>
                </div>

                <div class="col" style="padding-left:0">
                    <div class="card-header pt-3" style="height: 8rem;">
                        <div class="row">
                            <div class="col">
                            <p class="text-muted small progress-label desktop">Completion Rate:</p>

                            <!-- TODO: Add hover -->
                            <!-- TODO: Properly fetch data after navigation  -->
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" :style="{ width: stats.finishPct + '%' }" :aria-valuenow="stats.finishPct" aria-valuemin="0" aria-valuemax="100">
                                    [[stats.finishPct]]%
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                            <p class="text-muted small progress-label desktop">Avg. # Clicks: </p>
                            <p class="progress-label mobile">🖱️ </p>
                            <p class="stat text-dark">[[stats.avgClicks]]</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                            <p class="text-muted small progress-label desktop">Avg. Completion Time:</p>
                            <p class="progress-label mobile">⏱️ </p>
                            <p class="stat text-dark">[[stats.avgTime]]s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="mb-4">

                    <details :open="preset" v-cloak>

                    <summary>
                        Leaderboard Options (Current:
                        <strong v-if="preset === 'personal'">Personal History)</strong>
                        <strong v-if="preset === 'ffa'">Fastest First Attempt)</strong>
                        <strong v-if="preset === 'shortest'">Shortest Path)</strong>
                    </summary>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="personal" value="personal" v-model="preset" />
                        <label class="form-check-label" for="personal">Personal History (default) </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="ffa" value="ffa" v-model="preset" />
                        <label class="form-check-label" for="ffa">Fastest First Attempt (Global) </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="shortest" value="shortest" v-model="preset" />
                        <label class="form-check-label" for="shortest">Shortest Path (Global) </label>
                    </div>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input" disabled type="radio" id="custom" value="custom" v-model="preset" />
                        <label class="form-check-label" for="custom"> Custom (Coming soon) </label>
                    </div>

                    <!--Description of leaderboard -->

                    <div class="my-2">
                        <p v-if="preset === 'personal'">
                            A list of all your runs, including unfinished ones, sorted by recency.
                        </p>
                        <p v-if="preset === 'ffa'">
                            Leaderboards of the fastest times, where only a user's first attempt is counted. This is the original leaderboard from previous versions of the site!
                        </p>
                        <p v-if="preset === 'shortest'">
                            Leaderboards of the shortest paths, where a user's shortest path found is shown.
                        </p>
                    </details>

                </div>

                <div class="table-responsive">
                    <table v-if="runs.length > 0" class="table table-hover">
                        <thead>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th class="l-col" scope="col">Time</th>
                            <th class="l-col" scope="col">Links</th>
                            <th scope="col">Path</th>
                        </thead>
                        <tbody>
                            <!-- See this https://v2.vuejs.org/v2/guide/components.html?redirect=true#DOM-Template-Parsing-Caveats -->
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === -1"
                                v-bind:run="currentRun"
                                v-bind:current-run-id="runId"
                                v-bind:page-to-link="Math.floor((currentRun.rank - 1)/ limit)"
                                v-on:go-to-page="goToPage"
                            ></tr>

                            <tr v-if="currentRunPosition === -1"><td colspan="6">...</td></tr>

                            <tr is="leaderboard-row"
                                v-for="run in runs"
                                v-bind:key="run.run_id"
                                v-bind:run="run"
                                v-bind:current-run-id="runId"
                            ></tr>

                            <tr v-if="currentRunPosition === 1"><td colspan="6">...</td></tr>
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === 1"
                                v-bind:run="currentRun"
                                v-bind:current-run-id="runId"
                                v-bind:page-to-link="Math.floor((currentRun.rank - 1)/ limit)"
                                v-on:go-to-page="goToPage"
                            ></tr>
                        </tbody>
                    </table>


                    <p v-if="!loggedIn">
                        Log in to save and view your previous results and submit your runs to the public leaderboards!
                    </p>

                </div>
            </div>

            <div v-cloak class="card-footer text-center">
                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(0)"
                    v-bind:class="{invisible: page === 0}">

                    <i class="bi bi-chevron-double-left"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(page - 1)"
                    v-bind:class="{invisible: page === 0}">

                    <i class="bi bi-chevron-left" id="prev-page"></i>
                </a>

                <span class="mx-2">Page <strong>[[page + 1]]</strong> of [[numPages]] </span>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(page + 1)"
                    v-bind:class="{invisible: page === numPages - 1}">

                    <i class="bi bi-chevron-right"></i>
                </a>

                <a class="btn btn-outline-secondary" role="button"
                    v-on:click="goToPage(numPages - 1)"
                    v-bind:class="{invisible: page === numPages - 1}">

                    <i class="bi bi-chevron-double-right"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<canvas id="springydemo" class="mx-auto d-block mt-5" style="font-size: 10px;" width="1200" height="900">
{% endblock %}
