{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
<script type="module" src="{{url_for('static', filename='js/manage.js') }}"></script>
{% endblock %}
    
{% block content %}
<div id="app">    
    <form id="newPrompt" v-on:submit.prevent="onSubmit">
        <label for="start">Start Article:</label>
        <input type="text" id="start" name="start">
        <label for="end">End Article:</label>
        <input type="text" id="end" name="end">

        <input type="submit" value="Submit">
    </form>

    <div class="row">

        <div class="col-sm-4"> <div class="card"> <div class="card-body">
           
            <h4> Unused: </h4>
            
            <ul>
                <prompt-item
                    v-for="p in unused"
                    v-bind:prompt="p"
                    v-bind:key="p.prompt_id"
                    v-on:change="getPrompts"
                >
                </prompt-item>
            </ul>
        </div></div></div>  

        <div class="col-sm-4"> <div class="card"> <div class="card-body">
           
            <h4> Public: </h4>
            
            
            <ul>
                <prompt-item
                    v-for="p in public"
                    v-bind:prompt="p"
                    v-bind:key="p.prompt_id"
                    v-on:change="getPrompts"
                >
                </prompt-item>
            </ul>

        </div></div></div>  
    </div>

    <div class="row">

        <div class="col-sm-8"> <div class="card"> <div class="card-body">
           
            <h4> Prompts of the Day: </h4>
            <p> [[daily]]  </p>          

        </div></div></div>  
    </div>        
</div>

{% endblock %}
