{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/wikipedia.css')}}">
<script type="module" src="{{url_for('static', filename='js/marathon.js')}}"></script>

{% endblock %}

{% block content %}

<div id="app">

    <div v-show="started && !finished" id="time-box" class="HUDwrapper container">
        <div class="row flex-row flex-nowrap">
            <div class="col px-4 py-2">
                Start Article<br><strong>[[startArticle]]</strong>
            </div>
            <div class="col px-4 py-2">
                Checkpoints<br><span v-html="formatActiveCheckpoints()"></span>
            </div>
            <div class="col px-4 py-2">
                Clicks Remaining<br><strong class="text-size-3" v-bind:class="clicksRemaining < 4 ? 'color: red' : ''">[[clicksRemaining]]</strong>
            </div>
            <div class="col px-4 py-2 d-flex flex-column">
                <div>
                Checkpoints Visited<br>[[numCheckpointsVisited]]
                </div>
                <div class="align-self-end mt-auto">
                    <div>
                        <button v-on:click="showHelp = !showHelp" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Help</button>
                    </div>
                </div>   
            </div>

            <div class="col px-4 py-2 d-flex flex-column">
                <div>
                Unique Articles Visited<br>[[numVisitedUnique]]
                </div>
                <div class="align-self-end mt-auto">
                    <div>
                        <button v-on:click="forfeitRun" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">End my suffering</button>
                    </div>
                </div>   
            </div>
        </div>
    </div>

    <div v-show="started && !finished && showHelp" id="help-box" class="HUDwrapper container">
        <div class="row flex-row flex-nowrap">
            <div class="col-9 px-4 py-2">
            <p><strong>NEW Marathon gamemode</strong></p>
            <p>In this new game mode, your objective is to go as far as you can with the limited amount of "clicks". 
                You will have 5 checkpoints that you can visit in any order. 
                Each checkpoint you manage to reach will give you 5 more clicks, and also give you a new checkpoint. 
                However, clicking on any link will cost 1 click. The game ends when you run out of clicks.</p>
                <p>Your score will depend on the total number of checkpoints you reach and the total number of unique articles you visit. You will be timed, but it will not factor into your score.</p>
                <p>You may forfeit your game at any point, and your progres thus far will be submitted as a complete run.</p>
                <p>Good luck!</p>
            <p></p>

            </div>
            <div class="col py-2 d-flex flex-row justify-content-end">
                <button v-on:click="showHelp = !showHelp" class="btn btn-outline-secondary mt-auto align-self-end">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </div>

    <div v-show="!started">
        <div class="text-center text-size-1">
            <p>Starting Article: <strong>[[startArticle]]</strong></p>
            <p>Starting Checkpoints: <strong>[[activeCheckpoints]]</strong></p>
            <p>Good Luck!</p>
        </div>
        <div id="mirroredimgblock" class="mirroredimgblock">
            <img src="{{url_for('static', filename='assets/startgun.gif')}}" class="startgun">
            <img src="{{url_for('static', filename='assets/startgun.gif')}}" class="startgun invgif">
        </div>

        <div>
            <p id="countdown" class="countdown text-center mx-auto my-auto pb-5">[[countdown]]</p>
        </div>

        <h6 id="tips" class="text-center">[[activeTip]]</h6>
    </div>  

    <div v-if="finished" class="text-left">
        <p><h4>Game Over! <span v-if="forfeited">You chose the easy way out.</span></h4></p>
        <p>Your run was submitted to the leaderboard.</p>
        <p><h4>Here's how you did:</h4></p>
        <div class="card md">
            <div class="card-body">
                <p><h4><strong class="font-italic">"[[startArticle]]"</strong></h4></p>
                <p>Time: <strong>[[finalTime]] </strong>Seconds</p>
                <p>Number of unique articles visited: <strong>[[numVisitedUnique]]</strong></p>
                <p>Number of checkpoints visited: <strong>[[numCheckpointsVisited]]</strong></p>
                <p>The path you took: <br>[[path]]</p>
                <div><button v-on:click="finishPrompt" class="btn btn-outline-secondary">See the leaderboard</button></div>
                <div><button v-on:click="home" class="btn btn-outline-secondary">Return to home page</button></div>
            </div>
        </div>
    </div>


    <div v-show="started && !finished" id="main">
        <div id="title"></div>
        <div id="wikipedia-frame"></div>
    </div>

</div>
{% endblock %}
