{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/wikipedia.css')}}">
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/play.css')}}">
<script type="module" src="{{url_for('static', filename='js/marathon.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

{% endblock %}

{% block content %}

<div id="app">
<template v-cloak> <!--Top level v-cloak to hide stuff when loading vue-->

    <canvas id="confettiCanvas" style="pointer-events:none;"></canvas>

    <div v-show="started && !finished" id="time-box" class="HUDwrapper container" v-cloak>
        <div class="row flex-row flex-nowrap py-2">
            <div class="col-sm-auto px-4 flex-wrap">
                Start Article<br><strong>[[startArticle]]</strong>
                <br>Current Article<br><strong>[[currentArticle]]</strong>
            </div>
            <div class="col-sm-auto px-4">
                Clicks Remaining<br><strong class="text-size-3" v-bind:class="clicksRemaining < 4 ? 'color: red' : ''">[[clicksRemaining]]</strong>
            </div>
            <div class="col-sm px-4">
                Checkpoints Visited<br>[[numCheckpointsVisited]] <span style="font-size: 0.75rem">(Goal: [[numCheckpointsToStop]])</span>
                <br>Unique Articles Visited<br>[[numVisitedUnique]]
                <span v-show="!showStop"><br>Time Elapsed<br>[[parseInt(elapsed/60)]] mins</span>
            </div>
            <div class="col-lg-auto px-4">
                Checkpoints<br>
                <ol style="padding-left: 1rem;">
                    <li v-for="checkpoint in activeCheckpoints">
                        <strong>[[checkpoint]] </strong>
                        <small style="cursor: help;" :href="`/wiki/${checkpoint}`" @mouseenter="showPreview" @mouseleave="hidePreview">
                            ⓘ
                        </small>
                    </li>
                </ol>
            </div>
        </div>
        <div v-show="!showStop" class="row flex-row flex-nowrap justify-content-end py-2">
            <div class="col-sm-auto">
                <button v-on:click="showHelp = !showHelp" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Help</button>
            </div>
            <div class="col-sm-auto">
                <button v-on:click="saveRun()" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Save and Quit</button>
            </div>
            <div class="col-sm-auto">
                <button v-on:click="finish(0)" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">End my suffering</button>
            </div>
        </div>
    </div>

    <div v-show="showStop && !finished && !saved" id="stop-box" class="centered" v-cloak>
        <div class="px-4 py-2">
            <div><h4>Congrats! You reached [[numCheckpointsToStop]] checkpoints</h4></div>
            <div><p>You can now consider this prompt complete, but you can continue this run to see how far you can go.</p></div>
            <div><p>The amount of clicks awarded for each checkpoint will decrease</p></div>
            <div class="row flex-row flex-nowrap py-2">
                <div class="col-sm-auto px-4">
                    Clicks Remaining<br><strong class="text-size-3" v-bind:class="clicksRemaining < 4 ? 'color: red' : ''">[[clicksRemaining]]</strong>
                </div>
                <div class="col-sm px-4">
                    Checkpoints Visited<br>[[numCheckpointsVisited]]
                    <br>Unique Articles Visited<br>[[numVisitedUnique]]
                </div>
                <div class="col-lg-auto px-4">
                    Checkpoints<br>
                    <ol style="padding-left: 1rem;">
                        <li v-for="checkpoint in activeCheckpoints">
                            <strong>[[checkpoint]] </strong>
                            <small style="cursor: help;" :href="`/wiki/${checkpoint}`" @mouseenter="showPreview" @mouseleave="hidePreview">
                                ⓘ
                            </small>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row flex-row flex-nowrap justify-content-end py-2">
                <div class="col-sm-auto">
                    <button v-on:click="saveRun()" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Save and Continue Later</button>
                </div>
                <div class="col-sm-auto">
                    <button v-on:click="finish(0)" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Just end my suffering already</button>
                </div>
                <div class="col-sm-auto">
                    <button v-on:click="showStop = !showStop" class="btn btn-outline-secondary mt-auto" style="font-size: 0.75rem">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <marathon-help v-show="started && !finished && showHelp" v-cloak v-on:close-help="showHelp = !showHelp">
    </marathon-help>

    <div v-if="previewContent">
        <div v-if="eventType === 'click'" class="blocker" @click="hidePreview"></div>
        <page-preview
            :article-preview="previewContent"
            :client-x="eventX"
            :client-y="eventY"
        ></page-preview>
    </div>

    <countdown-timer
        v-bind:start-article="startArticle"
        v-bind:active-checkpoints="activeCheckpoints"
        v-on:start-game="start"
    ></countdown-timer>

    <finish-page
        v-bind:forfeited="forfeited"
        v-bind:start-article="startArticle"
        v-bind:final-time="endTime - startTime + lastTime"
        v-bind:num-visited-unique="numVisitedUnique"
        v-bind:num-checkpoints-visited="numCheckpointsVisited"
        v-bind:active-checkpoints="activeCheckpoints"
        v-bind:prompt-id="promptId"
        v-bind:run-id="runId"
        v-bind:path="path"
        v-bind:saved="saved"
        v-bind:checkpoint-limit="numCheckpointsToStop"
        v-bind:username="username"
        v-bind:logged-in="loggedIn"

        v-show="finished"
    ></finish-page>


    <div v-show="started && !finished" id="main">
        <div id="wikipedia-frame" class="main-text"></div>
        <div id="article-end-marker">
            <hr class="mt-5">
            <div class="text-center font-weight-light"><strong>- End of Article -</strong></div>
            <hr class="mb-3">
        </div>
    </div>

</template>
</div>
{% endblock %}
