{% extends 'base.html' %}

{% block head %}
<script defer>
    const prompt_id='{{prompt_id}}';
</script>

<script type=text/javascript src="{{url_for('static', filename='js/play.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/wikipedia.css')}}">
{% endblock %}

{% block content %}
<div id="finishStats" class="finish"></div>
<div id="guide" class="guide"></div>
<div id="path" class="finish path"></div>

<div><p id = timer></p></div>
<div id="mirroredimgblock" class="mirroredimgblock">
</div>
<div>
<p id="countdown" class="countdown">0</p>
</div>

<div><p id="tips" class="guide tips"></p>
</div>
<div id="main">
    <div id="title"></div>
    <div id="wikipedia-frame"></div>
</div>
{% endblock %}
