{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/wikipedia.css')}}">
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/play.css')}}">
<script type="module" src="{{url_for('static', filename='js/play.js')}}"></script>

{% endblock %}

{% block content %}

<div id="app">

    <div v-show="started && !finished" id="time-box" class="HUDwrapper container">
        <div class="row flex-row">
            <div class="col-sm-auto text-nowrap px-4 py-2">
                Start Article<br><strong>[[startArticle]]</strong>
            </div>
            <div class="col-sm-auto text-nowrap px-4 py-2">
                End Article<br><strong>[[endArticle]]</strong>
            </div>
            <div class="col-sm-auto text-nowrap px-4 py-2">
                Time Elapsed<br><strong>[[timer]] s</strong>
            </div>
        </div>
    </div>

    <countdown-timer
        v-bind:start-article="startArticle"
        v-bind:end-article="endArticle"
        v-on:start-game="startRun"
    ></countdown-timer>

    <div v-if="finished" class="text-left">
        <p><h4>You found it!</h4></p>
        <p>Your run was submitted to the leaderboard.</p>
        <p><h4>Here's how you did:</h4></p>
        <div class="card md">
            <div class="card-body">
                <p><h4><strong class="font-italic">"[[startArticle]]"</strong> to <strong class="font-italic">"[[endArticle]]"</strong></h4></p>
                <p>Time: <strong>[[finalTime]] </strong>Seconds</p>
                <p>Number of links visited: <strong>[[path.length-1]]</strong></p>
                <p>The path you took: <br>[[path]]</p>
                <div class="button-tooltip-container">
                    <button @click="copyResults" class="share-btn btn-1 btn-1c"><i class="bi bi-share"></i> Share</button>
                    <span id="custom-tooltip" ref="shareTooltip">Copied results to clipboard!</span>
                </div>
                <div><button @click="finishPrompt" class="btn btn-outline-secondary">See the leaderboard</button></div>
                <br/>
                <div><button @click="home" class="btn btn-outline-secondary">Return to home page</button></div>
            </div>
        </div>
    </div>


    <div v-show="started && !finished" id="main">
        <div id="title"></div>
        <div id="wikipedia-frame"></div>
    </div>

</div>
{% endblock %}
