{% extends 'base.html' %}
{% block head %}

<script src="https://vuejs.org/js/vue.js"></script>




{% endblock %}


{% block content %}

<div style="width:75%; margin: auto; margin-top: 50px">
<div id="app">
    <h1>Player Stats</h1>
    <table class="user_info_table">
        <tr>
            <td style="width:40%">Username</td>
            <td v-text="user_name"></td>
        </tr>
        <tr>
            <td style="width:40%">Email</td>
            <td v-text="email"></td>
        </tr>
        <tr>
            <td style="width:40%">Profile Age</td>
            <td v-text="profileage"></td>
        </tr>
        <tr>
            <td style="width:40%">Skill Rating</td>
            <td v-text="skillrating"></td>
        </tr>
        <tr>
            <td style="width:40%">Total Rated Runs</td>
            <td v-text="totalratedruns"></td>
        </tr>
        <tr>
            <td style="width:40%">Email Verification Status</td>
            <td v-text="emailverified"></td>
        </tr>
        <tr>
            <td style="width:40%">Unique Pages Visited</td>
            <td v-text="articleCount"></td>
        </tr>
        <tr>
            <td style="width:40%; vertical-align: text-top;">Most Visited Pages</td>
            <td>
                <table id="mostvisitedpages"></table>
            </td>
        </tr>
    </table>


    
</div>
<div>
    <h1>Achievements</h1>
    <table id="achievements" class="user_info_table"></table>
</div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/profile.js') }}"></script>
<script>
    get_data("{{un}}");
    get_achievement_data("{{un}}");
</script>
{% endblock %}
