{% extends 'base.html' %}
{% block head %}

<script src="https://vuejs.org/js/vue.js"></script>

<script type="module" src="{{url_for('static', filename='js/profile.js') }}"></script>

{% endblock %}


{% block content %}

<div id="app" class="col-sm-6">
    <div class="card">
        <div class="card-body">
        <table class="table table-striped table-hover col-sm-6">
            <thead>
                <td colspan=2><h4>[[user_name.val]]'s Profile</h4></td>
            </thead>
            <tr v-for="key in Object.keys($data)" v-bind:key="">
                <td>[[$data[key].field]]: </td>
                <td>[[$data[key].val]]</td>
            </tr>
        </table>
    </div>
</div>
    
</div>

{% endblock %}
