{% extends 'base.html' %}

{% block head %}
<script></script>
    const prompt_id='{{prompt_id}}';
    const run_id='{{run_id}}';
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script src="{{url_for('static', filename='js/springy-master/springy.js') }}"></script>
<script src="{{url_for('static', filename='js/springy-master/springyui.js') }}"></script>

<script type=text/javascript src="{{url_for('static', filename='js/prompt.js') }}"></script>
{% endblock %}

{% block content %}
    
    <h3>Prompt #{{prompt_id}}</h3>
    <p id="prompt"></p>

    <table id="leaderboard" style="width:85%; margin: auto; margin-top: 50px">
        <tr>
            <th style="width:10%">Rank</th>
            <th style="width:10%">Name</th>
            <th style="width:10%">Time</th>
            <th>Path</th>
        </tr>
        
    </table>

    <canvas id="springydemo" width="1200" height="900" style="margin-top: 50px; display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;" />

    
{% endblock %}
