{% extends 'base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="{{url_for('static', filename='js-build/springy-master/springy.js') }}"></script>
<script src="{{url_for('static', filename='js-build/springy-master/springyui.js') }}"></script>

<script defer type="module" src="{{url_for('static', filename='js-build/prompt.js') }}"></script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="col-xl-12">
        <p>
            <small v-cloak>
                <a v-if="lobbyId" v-bind:href="'/lobby/' + lobbyId"> Back to Lobby</a>
                <a v-else href="/"> Back to Home</a>
            </small>
        </p>

        <div class="card">
            <div class="card-body">


                <h4>Prompt #[[getPromptID()]]</h4>

                <p>
                    <h6 v-if="available">
                        <strong>[[prompt.start]]</strong> to <strong v-if="runs.length > 0">[[prompt.end]]</strong><strong v-else>...</strong>
                    </h6>
                </p>
                <p>[[runs.length]] total runs</p>

                <div class="table-responsive">
                    <table v-if="runs.length > 0" class="table table-hover">
                        <thead>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th class="l-col" scope="col"><a v-on:click="toggleSort('time')">Time <span v-html="sortStatus('time')"></span></a></th>
                            <th class="l-col" scope="col"><a v-on:click="toggleSort('path')">Links <span v-html="sortStatus('path')"></span></a></th>
                            <th scope="col">Path</th>
                        </thead>
                        <tbody>
                            <!-- See this https://v2.vuejs.org/v2/guide/components.html?redirect=true#DOM-Template-Parsing-Caveats -->
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === -1"
                                v-bind:run="currentRun"
                                v-bind:rank="currentRunRank"
                                v-bind:current-run-id="runId"
                            ></tr>

                            <tr v-if="currentRunPosition === -1"><td colspan="5">...</td></tr>

                            <tr is="leaderboard-row"
                                v-for="(run, index) in renderedRuns"
                                v-bind:key="run.run_id"
                                v-bind:run="run"
                                v-bind:rank="getRenderedRank(index)"
                                v-bind:current-run-id="runId"
                            ></tr>

                            <tr v-if="currentRunPosition === 1"><td colspan="5">...</td></tr>
                            <tr is="leaderboard-row"
                                v-if="currentRunPosition === 1"
                                v-bind:run="currentRun"
                                v-bind:rank="currentRunRank"
                                v-bind:current-run-id="runId"
                            ></tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div v-cloak class="card-footer text-center">
                <button class="btn btn-outline-secondary"
                    v-on:click="buildNewLink(1)"
                    v-bind:class="{invisible: getPageNo() === 1 || getPageNo()===0}">

                    <i class="bi bi-chevron-double-left"></i>
                </button>

                <button class="btn btn-outline-secondary"
                    v-on:click="buildNewLink(parseInt(page)-1)"
                    v-bind:class="{invisible: getPageNo() === 1 || getPageNo()===0}">

                    <i class="bi bi-chevron-left" id="prev-page"></i>
                </button>

                <span>Page <strong>[[getPageNo()]]</strong> of [[totalpages]] </span>

                <button class="btn btn-outline-secondary"
                    v-on:click="buildNewLink(parseInt(page)+1)"
                    v-bind:class="{invisible: getPageNo() === totalpages}">

                    <i class="bi bi-chevron-right"></i>
                </button>

                <button class="btn btn-outline-secondary"
                    v-on:click="buildNewLink(totalpages)"
                    v-bind:class="{invisible: getPageNo() === totalpages}">

                    <i class="bi bi-chevron-double-right"></i>
                </button>

                <div class="pt-4 pb-2">
                    <span class="px-3" >Show results from the past: </span>
                    <a class="px-3" v-on:click="toggleTimeFilter('1')">1 Day</a>
                    <a class="px-3" v-on:click="toggleTimeFilter('7')">7 Days</a>
                    <a class="px-3" v-on:click="toggleTimeFilter('30')">30 Days</a>
                    <a class="px-3" v-on:click="toggleTimeFilter('100')">100 Days</a>
                    <a class="px-3" v-on:click="toggleTimeFilter('all')">All runs</a>
                </div>
            </div>
        </div>
    </div>
</div>

<canvas id="springydemo" class="mx-auto d-block mt-5" style="font-size: 10px;" width="1200" height="900">
{% endblock %}
