{% extends 'base.html' %}

{% block head %}
<script>
    const prompt_id='{{prompt_id}}';
    const run_id='{{run_id}}';
    const pg = '{{pg}}';
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script src="{{url_for('static', filename='js/springy-master/springy.js') }}"></script>
<script src="{{url_for('static', filename='js/springy-master/springyui.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 


{% endblock %}

{% block content %}
<div id="app">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
    
                <h4>Prompt #{{prompt_id}}</h4>
                <p><h6><strong>[[prompt.start]]</strong> to <strong>[[prompt.end]]</strong></h6></p>
                <p>[[runs.length]] total runs</p>

                <table class="table table-hover">
                    <thead>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Time</th>
                        <th scope="col">Path</th>
                    </thead>
                    <tbody>
                        <tr v-if="currentRunPosition === -1">
                            <td>[[currentRunRank]]</td>
                            <td v-if="currentRun.username">[[currentRun.username]]</td>
                            <td v-else><strong>You</strong></td>
                            <td>[[(currentRun.run_time/1000000).toFixed(3)]] s</td>
                            <td>[[currentRun.path]]</td>
                        </tr>
                        <tr v-if="currentRunPosition === -1">
                            <td>...</td>
                            <td>[[null]]</td>
                            <td>[[null]]</td>
                            <td>...</td>
                        </tr>
                        <tr v-for="(run, index) in renderedRuns">
                            <td>[[getRenderedRank(index)]]</td>
                            <td v-if="run.username">[[run.username]]</td>
                            <td v-else><strong>You</strong></td>
                            <td>[[(run.run_time/1000000).toFixed(3)]] s</td>
                            <td>[[run.path]]</td>
                        </tr>
                        <tr v-if="currentRunPosition === 1">
                            <td>...</td>
                            <td>[[null]]</td>
                            <td>[[null]]</td>
                            <td>...</td>
                        </tr>
                        <tr v-if="currentRunPosition === 1">
                            <td>[[currentRunRank]]</td>
                            <td v-if="currentRun.username">[[currentRun.username]]</td>
                            <td v-else><strong>You</strong></td>
                            <td>[[(currentRun.run_time/1000000).toFixed(3)]] s</td>
                            <td>[[currentRun.path]]</td>
                        </tr>
                    </tbody>
                </table>
                </ul>
            </div>  
            <div class="card-footer text-center">
                <button class="btn btn-outline-secondary" v-on:click="prevPage" v-bind:class="{invisible: parseInt(pg)===1}"><i class="bi bi-arrow-left" id="prev-page"></i></button>
                <span><strong>{{pg}}</strong> out of [[Math.ceil(runs.length/promptsPerPage)]] pages</span>
                <button class="btn btn-outline-secondary" v-on:click="nextPage" v-bind:class="{invisible: parseInt(pg)===Math.ceil(runs.length/promptsPerPage)}"><i class="bi bi-arrow-right" id="next-page"></i></button>
            </div>  
        </div>
    </div>
</div>

<script type=text/javascript src="{{url_for('static', filename='js/prompt.js') }}"></script>

<canvas id="springydemo" class="mx-auto d-block mt-5 d-lg-none" style="font-size: 10px;" width="1200" height="900"> 
{% endblock %}
