{% extends 'base.html' %}
{% block head %}

<script type="module" src="{{url_for('static', filename='js/quick_play.js') }}"></script>

{% endblock %}


{% block content %}

<div id="app">

    <h2> Play your own prompt, or generate a random one </h2>
    <hr> <br>

    <div class="col-md-4 col-sm-6">
        <input  class="form-control" type="text" id="start" name="start" placeholder="Start Article" v-model="start">
        <input  class="form-control" type="text" id="end" name="end" placeholder="End Article" v-model="end">
    </div>

    <br>
    <details class="mb-4">
        <summary> Generate Random Articles </summary>

        <prompt-generator
            v-bind:start.sync="start"
            v-bind:end.sync="end"
        ></prompt-generator>

    </details>

    <p class="text-danger">[[articleCheckMessage]]</p>

    <button class="btn btn-primary" v-on:click.prevent="play"> Play! </button>
</div>


{% endblock %}