{% extends 'base.html' %}

{% block head %}
<script defer type='module' src="{{url_for('static', filename='js/replay.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<style>
    [v-cloak] { display: none }
</style>
{% endblock %}

{% block content %}

<div id="app">
    <div class="HUDwrapper container">
        <div class="row flex-row">
            <div class="col-sm-auto my-auto text-nowrap px-4 py-2">
                <button v-on:click="previous" class="btn btn-primary" :disabled="path[currentPathIndex] == firstArticle"><i class="bi bi-arrow-left"></i></button>
            </div>
            <div class="col-sm-auto text-nowrap px-4 py-2">
                Start Article<br><strong>[[firstArticle]]</strong>
            </div>
            <div class="col-sm-auto text-nowrap px-4 py-2">
                End Article<br><strong>[[lastArticle]]</strong>
            </div>
            <div class="col-sm-auto my-auto text-nowrap px-4 py-2">
                <button v-on:click="next" class="btn btn-primary" :disabled="path[currentPathIndex] == lastArticle"><i class="bi bi-arrow-right"></i></button>
            </div>

        </div>
    </div>
    <div id="wikipedia-frame"></div>
</div>
{% endblock %}
