{% extends 'base.html' %}

{% block head %}
<script type="module" src="{{url_for('static', filename='js-build/admin/categoryLabeler.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-xxl">
    <div class="">
    <div id="app">
        <div class="container my-4">
        <div class="row">
            <div class="col">
            <div class="row">
                <div class="col-auto">
                <h4>PRIMARY</h4>
                <div
                    v-for="(category, index) in categories"
                    class="form-check"
                >
                    <input
                    class="form-check-input"
                    type="radio"
                    name="categorySel1"
                    v-bind:id="'primary_' + index"
                    />
                    <label
                    class="form-check-label"
                    v-bind:for="'primary_' + index"
                    >
                    [[category.disp]]
                    </label>
                </div>
                </div>
                <div class="col-auto">
                <h4>SECONDARY</h4>
                <div
                    v-for="(category, index) in categories"
                    class="form-check"
                >
                    <input
                    class="form-check-input"
                    type="radio"
                    name="categorySel2"
                    v-bind:id="'secondary_' + index"
                    />
                    <label
                    class="form-check-label"
                    v-bind:for="'secondary_' + index"
                    >
                    [[category.disp]]
                    </label>
                </div>
                <button
                    @click="clearSel('categorySel2')"
                    class="btn btn-outline-secondary"
                >
                    <b>Clear Secondary</b>
                </button>
                </div>
            </div>
            <div class="row py-4 my-4">
                <div class="col-auto py-2">
                <button @click="submit" class="btn btn-outline-primary">
                    <b>Submit and Get Next</b>
                </button>
                </div>
                <div class="col-auto py-2">
                <button @click="reset" class="btn btn-outline-secondary">
                    <b>Skip and Get Next</b>
                </button>
                </div>
                <div class="col-auto py-2">
                <button @click="save" class="btn btn-outline-secondary">
                    <b>Save local progress</b>
                </button>
                <div>
                    [[this.articlesProcessed]] articles since last save/cache
                </div>
                </div>
                <div class="col-auto py-2">
                <div class="form-group">
                    <label for="catName"></label>
                    <input type="text" class="form-control" id="catName">
                </div>
                <button @click="getSpecificCat" class="btn btn-outline-secondary">
                    <b>Load a specific 'Category:' article</b>
                </button>
                </div>
            </div>
            <div class="row py-4">
                <div class="py-2">
                <h4>Natural Sciences</h4>
                <p>
                    Concepts, important people, practices, and institutions
                    related to the theoretical study of the many natural science
                    fields. Including yet not limited to: Math, Physics,
                    Chemistry, Astronomy, Geology, Microbiology, etc.
                </p>
                <p>
                    Examples: famous physicists, math concepts such as numbers,
                    chemical compounds and elements, research tools such as the
                    Hubble Space Telescope
                </p>
                </div>
                <div class="py-2">
                <h4>Geography</h4>
                <p>Natural and human geography.</p>
                <p>
                    Examples: Countries, continents, provinces, human settlements
                    (cities/towns/villages), mountain ranges, oceans, rivers
                </p>
                </div>

                <div class="py-2">
                <h4>Ecology</h4>
                <p>Plants, Animals, and ecosystems in which they live in.</p>
                <p>
                    Examples: birds, mammals, trees, flowers, ecology concepts
                </p>
                </div>
                <div class="py-2">
                <h4>Technology</h4>
                <p>
                    Application of science as products/tools/etc. Covers most of
                    the Engineering field
                </p>
                <p>
                    Examples: weapons, vehicles, energy, internet, computer
                    engineering, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Human Health & Medicine</h4>
                <p>
                    Events, people, institutions, and concepts related to public
                    health
                </p>
                <p>
                    Examples: Health crises, diseases, hospitals, traditional
                    medicine, government health departments, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Human Society</h4>
                <p>
                    Concepts and entities related to human society, as well as the
                    study of human society. Including but not limited to:
                    Sociology, Anthropology, Linguistics, Human institutions and
                    organizations
                </p>
                <p>
                    Examples: Schools, language groups, human settlement patterns,
                    sociological concepts, group identities, occupations, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>People</h4>
                <p>Individuals or groups of people</p>
                <p>
                    Examples: Modern and historic influential figures, people
                    grouped by one characteristic, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Government & Politics</h4>
                <p>
                    Events and entities related to global/regional government,
                    politics, and law.
                </p>
                <p>
                    Examples: Criminals, electoral candidates, political
                    decisions, legislative entities, government agencies,
                    protests, civil wars, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Economy & Business</h4>
                <p>
                    Institutions and concepts related to micro/macroeconomics,
                    entrepreneurship, currency, etc.
                </p>
                <p>
                    Examples: Companies and corporations, micro/macroeconomic
                    concepts, banks, concept of unemployment, etc.
                </p>
                </div>

                <div class="py-2">
                <h4>Consumer Goods</h4>
                <p>Everyday items that we as people use</p>
                <p>Examples: furniture, beauty products, clothing, etc.</p>
                </div>
                <div class="py-2">
                <h4>The Arts</h4>
                <p>
                    Fine arts, literature, architecture, as well as the history
                    and influential figures of these concepts.
                </p>
                <p>Examples: Painters, writers, architectural styles, etc.</p>
                </div>
                <div class="py-2">
                <h4>Human History</h4>
                <p>Events, concepts, and people related to human history.</p>
                <p>
                    Example: wars and military history, notable figures, ancient
                    civilization, “notable plantations on Espanola during the 18th
                    century”, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Religion</h4>
                <p>Religious figures, concepts, institutions, events</p>
                <p>
                    Examples: churches and congregations, head of faiths,
                    scriptures, religious wars, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Food & Drinks</h4>
                <p>Yum yum food drincc</p>
                <p>
                    Examples: Bread, pizza, regional cuisine, restaurants, spices,
                    crops, fruits, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Sports & Games</h4>
                <p>
                    Individuals, teams, events, institutions, and concepts related
                    to sports and any sort of game.
                </p>
                <p>
                    Examples: sports teams, players, sports events, description of
                    a sport/game, video games, board games, etc.
                </p>
                </div>
                <div class="py-2">
                <h4>Entertainment</h4>
                <p>
                    People, institutions, and concepts surrounding media and
                    entertainment in general. Including but not limited to: Music,
                    TV & film, Social media, performance arts, etc.
                </p>
                <p>
                    Examples: celebrities, albums, TV stations, TV series, radio
                    stations
                </p>
                </div>
            </div>
            </div>
            <div class="col">
            <div>
                <h4>Category name</h4>
                <div>[[categoryName]]</div>
            </div>
            <div class="py-3">
                <h5>Subcategories</h5>
                <ul>
                <li v-for="sc in subcategories">[[sc]]</li>
                </ul>
            </div>
            <div>
                <h5>Articles</h5>
                <ul>
                <li v-for="sa in subarticles">[[sa.title]]</li>
                </ul>
            </div>
            </div>
        </div>


        </div>
    </div>
    </div>
</div>


{% endblock %}

