<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Speedruns!</title>

        <!--Bootstrap stuff-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <script>
            // Gathers all arguments from server into single JS object, argument is rendered as a JSON string by flask
            // Lol now its a global oops
            var serverData = ({{data | tojson | safe}});
        </script>

        <!-- WikiSpeedruns styling -->
        <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/main.css')}}">

        <!-- Nav JS Code -->
        <script type="module" src="{{url_for('static', filename='js-build/nav.js')}}"></script>

        <!-- Page specific styling/JS -->
        {% block head %}{% endblock %}
    </head>

    <body data-bs-spy="scroll" data-bs-target="#toc" data-bs-offset="144">
        <nav id="nav" class="navbar navbar-expand-md sticky-top bg-body">
            <div class="container-xxl py-2">

                <div class="navbar-brand d-flex align-items-end">
                    <a href="/" class="d-flex align-items-center text-center">
                        <img v-if="theme === 'dark'" src="/static/assets/logodark.png" alt="" height="45">
                        <img v-else src="/static/assets/logolight.png" alt="" height="45">
                    </a>
                    <a href="/devblog" class="version-link">V. 0.1</a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse my-auto" id="navbarContent">

                    <div class="navbar-nav ms-auto">

                        <li class="nav-item mx-2">
                            <a class="nav-link" v-bind:class="loggedIn ? '': 'text-center'" v-bind:href="'/about'">About</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link" v-bind:class="loggedIn ? '': 'text-center'" v-bind:href="'/contribute'">Contribute</a>
                        </li>
                        <button class="btn" v-on:click="switchTheme()">
                            [[(theme === "dark") ? "Light Mode" : "Dark Mode"]]
                        </button>
                        <template v-if="loggedIn">

                            <template v-if="isAdmin">
                                <a class="nav-link" v-bind:href="'/testarticle'">Test</a>
                                <a class="nav-link" v-bind:href="'/stats'">Stats</a>
                                <a class="nav-link" v-bind:href="'/manage'">Manage</a>
                            </template>
                            
                            <li class="nav-item mx-2">
                                <a class="nav-link active" v-bind:href="'/profile/' + username">[[username]]</a>
                            </li>

                            <li class="nav-item align-middle my-auto mx-2">
                                <button class="btn align-middle my-auto" style="background-color:transparent" v-on:click="accountPage"><i class="bi bi-gear"></i></button>
                            </li>
                        </template>
                        <template v-else>
                            <a class="btn" href="/register">Register</a>
                            <a class="btn" href="/login">Login</a>
                        </template>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-xxl">
            {% block content %}{% endblock %}
        </div>

        <div style="display: flex" class="mt-4 justify-content-center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7979604395342950"
            crossorigin="anonymous"></script>
            <!-- Play Ad -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:728px;height:90px"
                data-ad-client="ca-pub-7979604395342950"
                data-ad-slot="9528706319"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="text-center">
            <small><a href="/about#ads">Viewing these ads supports us and the Wikimedia Foundation!</a></small>
        </div>
    
    </body>


</html>
