{% extends 'base.html' %}

{% block head %}
<!-- wiki desktop stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/wikipedia.css')}}" media="(min-width: 768px)">
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/wikipedia-vec.css')}}" media="(min-width: 768px)">

<!-- wiki mobile stylesheets -->
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/base" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://en.wikipedia.org/api/rest_v1/data/css/mobile/site" media="screen and (max-width: 767px)">
<link rel="stylesheet" href="https://meta.wikimedia.org/api/rest_v1/data/css/mobile/pcs" media="screen and (max-width: 767px)">


<script defer type='module' src="{{url_for('static', filename='js-build/replay.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<style>
    [v-cloak] { display: none }
</style>
{% endblock %}

{% block content %}

<div id="app">
    <div class="HUDwrapper container">
        <div class="HUD">
            <div class="row flex-row m-0">
                <div class="col-sm-auto my-auto text-nowrap px-4 py-2">
                    <button v-on:click="previous" class="btn btn-primary" :disabled="path[currentPathIndex] == firstArticle"><i class="bi bi-arrow-left"></i></button>
                </div>
                <div class="col-sm-auto text-nowrap px-4 py-2">
                    Start Article<br><strong>[[firstArticle]]</strong>
                </div>
                <div class="col-sm-auto text-nowrap px-4 py-2">
                    End Article<br><strong>[[lastArticle]]</strong>
                </div>
                <div class="col-sm-auto my-auto text-nowrap px-4 py-2">
                    <button v-on:click="next" class="btn btn-primary" :disabled="path[currentPathIndex] == lastArticle"><i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id="wikipedia-frame"></div>
</div>
{% endblock %}
