{% extends 'base.html' %}

{% block head %}
  
<script defer>

    const token = "{{token}}";
    const user_id = Number("{{id}}");

    async function handleReset(event)
    {
        event.preventDefault();
        const password = document.getElementById("password").value;
        const body = {user_id, token, password};

        const response = await fetch("/api/users/reset_password", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        });

        if (response.status == 200) {
            alert("Password Changed");

            window.location.href = "/login";
        } else if (response.status == 400) {
            alert("Could not confirm email (expired or invalid link)");
        } else {
            alert("Error in confirming email");
        }
    }

    window.onload = function() {
        var form = document.getElementById('resetForm');
        form.addEventListener("submit", handleReset);
    }

</script>
{% endblock %}

{% block content %}
    
    <form id="resetForm">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
