{% extends 'base.html' %}

{% block head %}

<link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='stylesheets/main.css')}}">

<script defer>
    async function handleResetRequest(event)
    {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const body = {email};

        const response = await fetch("/api/users/reset_password_request", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        });

        if (response.status == 200) {
            alert("Password reset email sent");
            window.location.href = "/login";
        } else {
            alert("Error in requesting password reset");

        }
    }

    window.onload = function() {
        var form = document.getElementById('resetRequestForm');
        form.addEventListener("submit", handleResetRequest);
    }

</script>
{% endblock %}

{% block content %}

<div class="col-lg-4 col-md-6" >

    <form id="resetRequestForm">
        <div class="form-floating mb-2">
            <input type="email" id="email" class="form-control" required >
            <label for="email" class="form-label">Email</label>
        </div>

        <button type="submit" class="btn btn-light">Submit</button>
    </form>
</div>
{% endblock %}
